
#login_error_message p
{
	font-size: 1.5em;
	font-weight: bold;
	text-transform: uppercase;
}

#edit_error_message p
{
	font-size: 1.5em;
	font-weight: bold;
	text-transform: uppercase;
}

.login_login_input
{
	color:#5a5a5a;
	width: 190px;
	height: 30px;
	border: 0px;
	margin: 5px auto;
	padding: 5px;
	font-size:16px;
}

.login_arrow
{
	position: relative;
	float: right;
	height: 17px;
	right: 285px;
	cursor: pointer;
}

.login_arrow_text
{
	background: #d4003d;
	font-family: 'SourceSansPro-Regular';
	color: #ffffff;
	text-transform: uppercase;
	width: 200px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 18px;
	margin-top: 20px;
	cursor:pointer;
}


.register_input
{
	width: 200px;
	color:#4d4d4d;
	border: 0px;
	margin-bottom: 5px;
	font-size: 16px;
	height: 36px;
	line-height: 36px;
	padding-left: 5px;
	margin-top: 5px;
		
}

.

.edit_input
{
	width: 185px;
	color: #4d4d4d;
	border: 0px;
	padding:0px;
	margin-bottom: 5px;
	font-size: 16px;
	height: 38px;
	line-height: 38px;
	padding-left: 5px;
	margin-top: 15px;
	float: left;
	font-family:'open_sansregular';
}

.date_short
{
	width: 50px;
	color:#4d4d4d;
	border: 0px;
	margin-bottom: 5px;
	font-size: 16px;
	height: 36px;
	line-height: 36px;
	padding-left: 5px;
	margin-top: 5px;
}

.date_long
{
	
	width: 84px;
	color:#4d4d4d;
	border: 0px;
	margin-bottom: 5px;
	font-size: 16px;
	height: 36px;
	line-height: 36px;
	padding-left: 5px;
	margin-top: 5px;
}

.register_arrow
{
	position: relative;
	float: right;
	height: 17px;
	right:290px;
	cursor: pointer;
}

.register_arrow_text
{
	position: relative;
	text-align: right;
	line-height: 17px;
	padding-left: 5px;
	padding-right: 5px;
	font-size: 1.3em;
	float:right; 
	right:290px;
	cursor: pointer;
	color: black;
	background-color: #cacaca;
	text-transform: uppercase;
}

.edit_arrow
{
	position: relative;
	float: left;
	height: 17px;
	left:234px;
	cursor: pointer;
}

.edit_arrow_text
{
	position: relative;
	text-align: center;
	line-height: 38px;
	font-size: 12px;
	left:113px;
	top:-8px;
	float:left; 
	cursor: pointer;
	color: #ffffff;
	width:190px;
	background-color: #d4003d;
	text-transform: uppercase;
	font-family: 'open_sansbold';
}

.input_hidden
{
	display: none;
}
.register_button
{
	text-align:center;
	font-size:14px;
	font-family: 'open_sansbold';
    color:#ffffff;
    background:#d4003d;
    text-transform: uppercase;
    letter-spacing: 1px;
    width:203px;
    height:36px;
    line-height:32px;
    border: 0px;
    margin-bottom:10px;
    cursor:pointer;
}



::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #4d4d4d;
opacity:  1;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #4d4d4d;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #4d4d4d;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #4d4d4d;
opacity:  1;
}

input:focus::-webkit-input-placeholder 
{
    color: transparent;
}