

.monthview
{
	width: 400px;
}

.calendar_basic .slot_available
{
	background-image: url("../img/red_full.png");
	color:#ffffff;
	cursor:pointer;
}

.calendar_basic .slot_unoccupied
{
	background-image: url("../img/grey.png");
	color:#b4b4b4;
	cursor:pointer;
}

.calendar_basic .slot_unavailable
{
	background-image: url("../img/grey.png");
	color: #b4b4b4;
}

.calendar_basic .slot_booked
{
	background-image: url("../img/red_booked.png");
	color:#ffffff;
	cursor:pointer;
}

.calendar_basic .slot_exception
{
	background-image: url("../img/red_booked.png");
	color:#ffffff;
	cursor:pointer;
}


.sitter_controls .availability_control
{
	position: relative;
	float: left;
	width: 33%;
	border: solid 1px black;
}


.calendar_overlay
{
	position: absolute;
	background-color: #ffffff;
	z-index: 1000;
	width:325px;
	height:280px;
	
}

.sitter_control_action
{
	cursor: pointer;
}

.sitter_controll_th
{
	width:100px;
	text-align:center;
	font-size:12px;
    font-family: 'open_sansbold';
    color:#d4003d;
}

#booking_message_overlay
{
	display:none;
	position: absolute;
	width: 275px;
	padding: 5px;
	background: #ffffff;
	border:1px solid #d4003d;
	
}
.message_overlay_header
{
	font-size:12px;
    font-family: 'open_sansbold';
    color:#d4003d;
}
.message_overlay_close
{
	position:absolute;
	right:5px;top:5px;
	font-size:12px;
    font-family: 'open_sansbold';
    color:#d4003d;
    cursor:pointer;
}

.overlay_arrow
{
	position: absolute;
	top: -37px;
	left: 126px;
}

.overlay_close
{
	position:absolute;
	top:2px;
	right:5px;
	font-size:14px;
	font-family: 'open_sansbold';
    color:#d4003d;
    cursor:pointer;
}

.popup_title_text
{
	position:relative;
	top:20px;
	width:100%;
	text-align:center;
	font-size:14px;
	font-family: 'open_sansbold';
    color:#d4003d;
    text-transform: uppercase;
    letter-spacing: 1px;
	
}

.popup_text
{
	font-family: 'open_sansregular';
	font-size:13px;
	color:#b4b4b4;
	margin-left:20px;
	
}

.light_popup_text
{
	color:#b4b4b4;
	font-size:12px;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-right:10px;
	font-family: 'open_sanslight_italic';
}

.dognum_holder
{
	position:absolute;
	top:80px;
	width:100%;
	text-align:center;
}

.popup_repeat_holder
{
	position:absolute;
	top:140px;
	left:92px;
	width:200px;
	text-align:left;
}


.popup_exception_holder
{
	position:absolute;
	top:170px;
}

.popup_delete_holder
{
	position:absolute;
	top:220px;
	left:76px;
}

.popup_input
{
	width:60px;
	height:30px;
	border: 1px solid #b4b4b4;
}

.popup_button
{
	position:absolute;
	bottom:20px;
	left:65px;
	text-align:center;
	font-size:14px;
	font-family: 'open_sansbold';
    color:#ffffff;
    background:#d4003d;
    text-transform: uppercase;
    letter-spacing: 1px;
    width:196px;
    height:36px;
    line-height:32px;
    border: 0px;
    
}

.popup_select_full, .popup_select_empty
{
	position:absolute;
	
}

.popup_line
{
	width:60px;
	height:1px;
	border:0px;
	background:#b4b4b4;
	float:left;
	margin-top:10px;
}

.booking_message_holder
{
	position: absolute;
	top: 120px;
	left:63px;
	width: 199px;
	
	text-align: left;
}


.request_item
{
	width:100%;
	height:100px;
	background:#ffffff;
	margin-bottom: 10px;
	position:relative;
}

.request_status, .request_date
{
	width:100px;
	text-align:center;
	position:absolute;
	left:0px;
	top:5px;
}

.request_user, .request_dogs
{
	width:100px;
	text-align:center;
	position:absolute;
	left:105px;
	top:5px;
}

.request_message
{
	width:300px;
	height:90px;
	position:absolute;
	top:5px;
	left:210px;
	overflow: hidden;
	cursor:pointer;
}
.request_actions
{
	position:absolute;
	width:100px;
	right:0px;
	top:5px;
}

.request_declined_item
{
	background: #f5f5f5;
}