.weekview
{
	width: 774px;
}


.calendar_header
{
	
}

.calendar_header .buttons
{
	position: relative;
	float: left;
	width: 53px;
	height:53px;
	text-align:center;
	line-height:53px;
	background-image: url("../img/red.png");
	cursor:pointer;
	font-size:14px;
    font-family: 'open_sansbold';
    color:#d4003d;
}

.calendar_header .prevbutton
{
	top:270px;
	left:-80px;
}

.calendar_header .nextbutton
{
	top:194px;
	left:425px;
}

.calendar_header .caption
{
	position: relative;
	float: left;
	width: 386px;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
}

.calender_header_prev
{
	
}


.calendar_basic
{
	
	border-spacing: 0px;
    border-collapse: separate;
}

.calendar_basic th
{
	padding: 0px;
	min-width: 57px;
	max-width: 69px;
	font-size: 20px;
}

.calendar_basic .rowheader_empty
{
	width: 65px;
}

.calendar_basic .rowheader
{
	width: 65px;
	font-size: 10px;
	vertical-align: top;
}


.calendar_basic td
{
	padding: 0px;	
	width: 53px;
	height: 53px;
	
	text-align:center;
	line-height:25px;
	margin:5px;
	
   border: 2px solid #e7e7e7;
   font-size:14px;
   font-family: 'open_sansbold';
}

#calendar_holder
{
	position:relative;
	padding-bottom:100px;
}

#calendar_legend
{
	margin-top:30px;
	margin-left:5px;
	font-size:12px;
	font-family: 'open_sansbold';
}

.legend_text
{
	margin:0px 15px 0px 5px;
}
.legend_img
{
	width:30px;
	position:relative;
	top:10px;
}