img
{
	border: 0px;
}
a
{
	text-decoration:underline;
	color:inherit;
	border:0;
}

select
{
	height:36px;
	width:81px;
	padding-left:5px;
	-webkit-appearance:none;
	  -moz-appearance: none;
	border-radius: 0;
	border:0px;
}


select.edit_input
{
	height:36px;
	width:80px;
	-webkit-appearance:none;
	  -moz-appearance: none;
	border-radius: 0;
	border:0px;
	font-family: 'dosisregular';
}

body
{
	-webkit-text-size-adjust: 100%;
	font-family: 'dosisregular';
	margin: 0px;
	padding: 0px;
	background: #000000;
	width:100%;
	height:100%;
	font-size:17px;
}

::-webkit-input-placeholder {
   color: #000;
}

:-moz-placeholder { /* Firefox 18- */
   color: #000;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #000;  
}

:-ms-input-placeholder {  
   color: #000;  
}

input
{
	font-family: 'dosisregular' !important;
}

.gold{color:#d58b32;}

.play{font-family: 'playregular';}
.playbold{font-family: 'playbold';}

.regular{font-family: 'dosisregular';}
.bold{font-family: 'dosisextrabold';}
.dosisbold{font-family: 'dosisbold';}
.dosissemi{font-family: 'dosissemibold';}
.dosisextralight{font-family: 'dosisextralight';}

.titil{font-family: 'titillium_weblight';}
.tititlight{font-family: 'titillium_weblight_italic';}
.titit{ font-family: 'titillium_webitalic';}
.titboldit{font-family: 'titillium_webbold_italic';}
.titsemiit{font-family: 'titillium_websemibold_italic';}

.hkgrot{font-family: 'hk_groteskbold';}
.mplus{font-family: 'm_1mmedium';}

#site_bg
{
	width:100%;
	height:100%;
	position:fixed;
	left:0px;
	top:0px;
	z-index:-1;
	background-image: url('../img/bg_skitz.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}



#container
{
	width:100%;
	height:100%;
	position:relative;
	top:0px;
	left:0px;
	z-index:0;
}

#wrapper
{
	position: relative;
	min-height: 800px;
}


#content
{
	width:800px;
	position:relative;
	z-index:10;
	text-align:center;
	top:180px;
	left:112px;
	min-height:800px;
	overflow:hidden;
	margin-bottom: 0px;
	margin-bottom:50px;
	background: rgba(0,0,0,1);
	background: -moz-linear-gradient(-45deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 29%, rgba(87,87,87,1) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(0,0,0,1)), color-stop(29%, rgba(0,0,0,1)), color-stop(100%, rgba(87,87,87,1)));
	background: -webkit-linear-gradient(-45deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 29%, rgba(87,87,87,1) 100%);
	background: -o-linear-gradient(-45deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 29%, rgba(87,87,87,1) 100%);
	background: -ms-linear-gradient(-45deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 29%, rgba(87,87,87,1) 100%);
	background: linear-gradient(135deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 29%, rgba(87,87,87,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#575757', GradientType=1 );

}

#bg{z-index:1;position:absolute;top:150px;left:0px;width:100%;}


#dashboard
{
	position:absolute;
	width:900px;
	left:0px;
	top:190px;
	height:479px;
	overflow:hidden;
}
#logo
{
	
	position:fixed;
	top:5px;
	left:10px;
	z-index:109999;
	width:220px;
}

#menu_holder
{
	position:fixed;
	left:0px;
	top:0px;
	width:100%;
	height:70px;
	z-index:100000;
	background:#000000;
	overflow:hidden;
	font-family: 'titillium_webbold_italic';
}

#menu_line
{
	position:fixed;
	left:0px;
	top:70px;
	width:100%;
	height:3px;
	z-index:100000;
}

#menu_left
{
	height:70px;
	line-height:70px;
	font-size:25px;
	margin-left:230px;
	color:#ffffff;
	float:left;
}

#menu_right
{
	height:70px;
	width:400px;
	float:right;
	color:#ffffff;
	position: relative;
	
}

.menu_item
{
	letter-spacing: 1px;
	font-family: 'titillium_webbold_italic';
	font-size:20px;
	height:70px;
	min-width:50px;
	line-height: 70px;
	border-left:1px dotted #ffffff;
	text-align:center;
	padding:0px 20px;
	float:left;
	cursor:pointer;
	
}

.menu_item.active
{
	color:#d58b32;
	background: rgba(76,76,76,1);
background: -moz-radial-gradient(center, ellipse cover, rgba(76,76,76,1) 0%, rgba(71,71,71,1) 26%, rgba(102,102,102,1) 95%, rgba(89,89,89,1) 100%);
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(76,76,76,1)), color-stop(26%, rgba(71,71,71,1)), color-stop(95%, rgba(102,102,102,1)), color-stop(100%, rgba(89,89,89,1)));
background: -webkit-radial-gradient(center, ellipse cover, rgba(76,76,76,1) 0%, rgba(71,71,71,1) 26%, rgba(102,102,102,1) 95%, rgba(89,89,89,1) 100%);
background: -o-radial-gradient(center, ellipse cover, rgba(76,76,76,1) 0%, rgba(71,71,71,1) 26%, rgba(102,102,102,1) 95%, rgba(89,89,89,1) 100%);
background: -ms-radial-gradient(center, ellipse cover, rgba(76,76,76,1) 0%, rgba(71,71,71,1) 26%, rgba(102,102,102,1) 95%, rgba(89,89,89,1) 100%);
background: radial-gradient(ellipse at center, rgba(76,76,76,1) 0%, rgba(71,71,71,1) 26%, rgba(102,102,102,1) 95%, rgba(89,89,89,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#595959', GradientType=1 );
}


.submenu_holder
{
	position: fixed;
    top: 73px;
    width: 200px;
    padding: 10px 25px;
	color:#ffffff;
	background:#000000;
	font-size:18px;
	font-family: 'titillium_weblight_italic';
	z-index:100000;
	display:none;
	
}

.submenu_item
{
	margin:10px 0px;
}

#header_parts
{
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
}


#skitz
{
	margin-top:0px;
}

#start_left
{
	position:relative;
	width:500px;
	margin-left:30px;
	float:left;
}

#start_right
{
	float:right;
	width:400px;
	margin-right:30px;
}
#start
{
  color:#ffffff;
  background:#d58b32;
  padding:10px;
  font-family: 'dosismedium';
  font-size:30px;
  letter-spacing: 2px;
  margin:0px auto;
  margin-top:0px;
  width:180px;
  line-height:15px;
  position:relative;
  z-index:10;
}

#engines
{
	color:#ffffff;
	  background:#d58b32;
	  padding:10px;
	  font-style: italic;
	  font-size:50px;
	  letter-spacing: 4px;
	  margin:0px auto;
	  width:280px;
	  margin-bottom:20px;
}

#description
{
	width:100%;
	margin:20px auto;
	color:#ffffff;
	overflow:hidden;
	padding-bottom:20px;
	
}

.description_column
{
	width:390px;
	margin-right:20px;
	text-align:left;
	font-size:16px;
}


#ready
{
  color:#d58b32;
  font-style: italic;
  font-size:30px;
  letter-spacing: 4px;
  margin:0px auto;
  width:320px;
  margin-bottom:20px;
}



.text
{
	width:900px;
}

#form
{
	
	
}
.input
{
	width:300px;
	padding:0px 10px;
	border-top:0px;
	border-right:0px;
	border-left:0px;
	border-bottom: 1px solid #000;
	margin-top:30px;
	height:30px;
}

.button
{
	width:253px;
	height:30px;
	line-height:30px;
	color:#fff;
	text-align:center;
	background:#000;
	border:1px solid #ffffff;
	font-size:16px;
	margin:20px auto;
	cursor:pointer;
}

#fb_login
{
	width:255px;
	height:30px;
	line-height:30px;
	color:#fff;
	text-align:center;
	background:#004a99;
	font-size:16px;
	margin:20px auto;
	cursor:pointer;
}

#fb_register
{
	width:255px;
	height:30px;
	line-height:30px;
	color:#fff;
	text-align:center;
	background:#004a99;
	font-size:16px;
	margin:10px auto;
	cursor:pointer;
}

#error
{
	color:#ffffff;
	text-align:center;
}

#footer
{
	
	border-top: 2px solid #a95f13;
	padding-bottom:20px;
	background: #000;
	position:relative;
	top:170px
}

#footer_holder
{
	width:600px;
	margin:30px auto;
	color:#ffffff;
	overflow:hidden;
}

.footer_item
{
	width:290px;
	float:left;
	margin-right: 20px;
	text-align:center;
}

#social_invite
{
	width:180px;
	height:30px;
	line-height:30px;
	color:#fff;
	text-align:center;
	background:#000;
	border:1px solid #ffffff;
	font-size:16px;
	margin:18px auto;
	cursor:pointer;
}

.follow_item
{
	float:left;
	margin-right:10px;
	cursor:pointer;
}

#login_holder
{
	width:100%;
	text-align:center;
	color:#ffffff;
	margin-top:0px;
	padding:30px 0px;
}

#register
{
	position:absolute;
	width:100%;
	text-align:center;
	color:#ffffff;
	background: #000;
	margin-top:0px;
	padding:30px 0px;
	display:none;
	z-index:1000;
}


#invitation
{
	position:relative;
	width:100%;
	text-align:center;
	color:#ffffff;
	background: #000;
	padding:30px 0px;
	top:250px;
	margin-bottom:150px;
	
}

#register_back_btn, #forgot_back_btn
{
	position:absolute;
	right:5px;top:-14px;
	width:80px;
}

#login_left
{
	float:left;
	text-align:left;
	width:255px;
}

#login_right
{
	float:right;
	width:255px;
}

.login_input
{
	width:240px;
	height:30px;
	line-height:30px;
	padding-left:10px;
	margin-bottom:5px;
	background: #ffffff;
}


#register_teaser
{
	text-align:left;
}

#register
{
	display:none;
}

#forgot_pw_text
{
	text-align:right;
	cursor:pointer;
}

#forgot
{
	display:none;
	width: 400px;
    height: 500px;
    text-align: center;
    position: absolute;
    top: 0px;
    background: #000000;
}

#header_bg
{
	background:#000000;
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:196px;
	z-index:0;
	border-bottom: 2px solid #a95f13;
}

.line{height:1px;background:#818181;border:none;width:200px;position:relative;top: 0px;left: 0px;}


#user_bg
{
	width:200px;
	height:173px;
	
	position:absolute;
	top:490px;
	left:0px;
	background: rgba(0,0,0,1);
	background: -moz-linear-gradient(-45deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 70%, rgba(87,87,87,1) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(0,0,0,1)), color-stop(70%, rgba(0,0,0,1)), color-stop(100%, rgba(87,87,87,1)));
	background: -webkit-linear-gradient(-45deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 70%, rgba(87,87,87,1) 100%);
	background: -o-linear-gradient(-45deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 70%, rgba(87,87,87,1) 100%);
	background: -ms-linear-gradient(-45deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 70%, rgba(87,87,87,1) 100%);
	background: linear-gradient(135deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 70%, rgba(87,87,87,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#575757', GradientType=1 );
}

#sidemenu_bg
{
	width:200px;
	height:470px;
	
	position:absolute;
	top:262px;
	left:0px;
	background: rgba(0,0,0,1);
	background: -moz-linear-gradient(-45deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 70%, rgba(87,87,87,1) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(0,0,0,1)), color-stop(70%, rgba(0,0,0,1)), color-stop(100%, rgba(87,87,87,1)));
	background: -webkit-linear-gradient(-45deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 70%, rgba(87,87,87,1) 100%);
	background: -o-linear-gradient(-45deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 70%, rgba(87,87,87,1) 100%);
	background: -ms-linear-gradient(-45deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 70%, rgba(87,87,87,1) 100%);
	background: linear-gradient(135deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 70%, rgba(87,87,87,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#575757', GradientType=1 );

}
















#sidemenu_static
{
	width:160px;
	height:450px;
	padding:20px;
	background:none;
	position:absolute;
	top:260px;
	left:0px;
	color:#ffffff;
	text-align:right;
	font-size:20px;
	z-index:10;
}

.statics_subheader
{
	background:#000000;
	color:#fff;
	text-align:center;
	padding:20px 0px;
	position:relative;
	top:0px;
}

.news_random_friend_item
{
	position:relative;
	width:185px;
	height:278px;
	background:#000000;
	float:left;
	margin-right:20px;
	color:#ffffff;
	
}

.news_random_friend_image
{
	position:absolute;
	left:20px;
	top:68px;
	width:146px;
	height:146px;
}

.news_random_friend_desc
{
	position:absolute;
	top:22px;
	left:20px;
	font-size:17px;
	width:146px;
	height:30px;
	line-height:30px;
	border-top:1px solid #888;
	border-bottom:1px solid #888;
	text-transform:uppercase;
	overflow:hidden;
	white-space: nowrap;
    text-overflow: ellipsis;
	
}

.news_random_friend_add
{
	position:absolute;
	left:43px;
	top:230px;
	width:98px;
	height:28px;
	line-height:28px;
	border:1px solid #fff;
	text-align: center;
	
}

#newsfeed_actions_holder
{
	color:#ffffff;
	margin-top:20px;
	position:relative;
}

#newsfeed_post_holder
{
	font-family: 'dosissemibold';
	width:370px;
	height:180px;
	padding:10px;
	color:#ffffff;
	background:#000000;
	text-align:left;
	margin:20px 0px;
	position:relative;
}

#newsfeed_img_title_holder
{
	position:relative;
	left:1px;top:0px;
	width:160px;
	margin-bottom:-5px;
	border:0px;
	padding:5px;
}

#newsfeed_suggestion_holder
{
	font-family: 'dosissemibold';
	width:370px;
	height:71px;
	padding:10px;
	color:#ffffff;
	background:#000000;
	text-align:left;
	margin:20px 0px;
	position:absolute;
	right:0px;
	top:135px;
	
}

#suggestion_input
{
	width: 260px;
    height: 40px;
    resize: none;
    border: 0px;
    margin-bottom:10px;
}

.loading
{
	position:absolute;
	right:30px;
	display:none;
}

#post_input
{
	width: 366px;
    height: 100px;
    resize: none;
    border: 0px;
    margin-bottom:10px;
}

.newsfeed_action_button
{
	font-family: 'dosissemibold';
	font-size:17px;
	text-align:center;
	width:auto;
	float:left;
	background:#000000;
	color:#ffffff;
	padding:15px 20px;
	display:inline;
	margin:20px 0px;
	cursor: pointer;
}

#login_car_selector
{
	position:relative;
	width:100%;
	height:850px;
	background:#000000;
	color:#ffffff;
	z-index:100;
	top:150px;
	left:0px;
	margin-bottom: 120px;
}

#car_create_error_message
{
	text-align:center;
	color:#fff;
}

#vehicle_make_select
{
	display:none;
}

#vehicle_model_select
{
	display:none;
}

.user_profilepicture
{
	position:absolute;
	left:50px;
	top:150px;
	width:295px;
	height:295px;
	border:5px solid #ffffff;
	z-index:1;
}

.user_cars
{
	position:relative;
	width: 760px;
    margin-left: 20px;
}

.user_section
{
	position:relative;
	text-align:left;
	float:left;
	
	width:185px;
	margin-right:10px;
	margin-bottom:20px;
}

#user_car_holder
{
	width:700px;
	margin:30px auto;
	overflow:hidden;
}

.userprofile_right
{
	position:relative;
	left:380px;
	top:95px;
	padding-bottom:60px;
	min-height: 400px;
	width:400px;
}

.user_car_item
{
	float:left;
	width:155px;
	margin-right:20px;
	margin-bottom: 20px;
}

.car_cover_photo
{
	width:755px;
	height:320px;
	position:relative;
	left:0px;
	top:22px;
	margin-bottom: 80px;
}

#edit_cover_upload, #edit_group_cover_upload
{
	width:755px;
	height:320px;
	position:relative;
	left:22px;
	top:0px;
	overflow:hidden;
}

.car_profile_photo
{
	width:160px;
	height:160px;
	position:absolute;
	top:354px;
	left:22px;
	border:5px solid #ffffff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#edit_profile_upload, #edit_group_profile_upload
{
	width:180px;
	height:180px;
	position:absolute;
	top:238px;
	left:310px;
}

.car_detail_nickname
{
	font-size:34px;
	
	
}

.car_detail_make
{
	font-size:22px;
	margin-bottom:20px;
	
}

.car_detail_owner
{
	font-size:18px;
	text-transform:uppercase;
}


#image_cropping_overlay
{
	position:absolute;
	display:none;
	top:100px;
	background:#000000;
	width:100%;
	height:1100px;
	z-index:10000;
	color: #ffffff;
}

#image_crop_holder img
{
	
}

#user_edit_profile_upload
{
	position: absolute;
    width: 300px;
    height: 350px;
    top: 25px;
    left: 25px;
}

.edit_input
{
	position: relative;
    left: 0px;
    width: 250px;
    height: 30px;
    margin-bottom: 5px;	
}

.edit_hidden_upload
{
	display:none;
}

#edit_form
{
	height:900px;
	position: relative;
}

#loadingGif
{
	position:fixed;
	left:50%;
	top:50%;
	margin-top:-60px;
	margin-left:-60px;
	width:120px;
	z-index: 1000000000;
	display: none;
	
}

#loadingBG
{
    display: none;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 100000000;
    width: 100%;
    height: 100%;
    background: #000000;
    -moz-opacity: 0.60;
    -khtml-opacity: 0.60;
    opacity: 0.60;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha"(Opacity=60);
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=60);
    filter: alpha(opacity=60);
}


#cover_hover_holder, #group_cover_hover_holder
{
	height:50px;
	line-height:50px;
	position:absolute;
	top:50px;
	left:0px;
	width:100%;
	background:#000000;
	z-index:500;
	font-size:20px;
	display:none;
	cursor:pointer;
}

#profile_hover_holder, #group_profile_hover_holder
{
	height:30px;
	line-height:30px;
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	background:#000000;
	z-index:500;
	display:none;
	cursor:pointer;
}

#edit_left
{
	margin-top:100px;
	overflow: hidden;
}

#edit_right
{
	position:absolute;
	left:450px;
	top:0px;
	width:350px;
}

.relative_parent
{
	overflow:hidden;
}

.label_edit
{
	float:left;
	margin-left:20px;
	margin-right:10px;
	line-height:36px;
}

.right
{
	float:right;
}

#add_story_overlay
{
	display:none;
	width:680px;
	height:640px;
	color:#ffffff;
	position: absolute;
	left:70px;
    z-index: 100;
    font-size:20px;
}

.close_overlay
{
	position:absolute;
	right:10px;
	top:-20px;
	cursor:pointer;
}

#story_piece_text
{
	width:100%;
	height:200px;
	margin-top:30px;
	margin-bottom:20px;
	margin-left:0px;
	resize:none;
}


#add_modification_overlay
{
	display:none;
	width:680px;
	height:500px;
	color:#ffffff;
	position: absolute;
	left:60px;
	top:0px;
    z-index: 100;
    font-size:20px;
}

#delete_mod_overlay
{
	display:none;
	width:680px;
	height:500px;
	color:#ffffff;
	position: absolute;
	left:60px;
	top:100px;
    z-index: 100;
    font-size:20px;
}



.detail_left
{
	
	float:left;
	width:395px;
	margin-left:22px;
	overflow:hidden;
}

.detail_right
{
	float:right;
	width:360px;
	margin-right:22px;
	overflow:hidden;
}

#edit_albums_holder, #edit_applications_holder, #edit_members_holder
{
	width:100%;
	
	overflow:hidden;
}

#gallery_images
{
	width:340px;
	margin-left:26px;
	overflow:hidden;
}



.album_item_image
{
	width:100px;
	height:120px;
	background-repeat: no-repeat;
    background-size: cover;
}

.album_item_title
{
	color:#ffffff;
	height:20px;
	line-height: 20px;
}

#follow_vehicle
{
	position: absolute;
	right:22px;
	top:335px;	
	width:180px;
}

#unfollow_vehicle
{
	position: absolute;
	right:22px;
	top:335px;
	display:none;
	width:180px;
}


.follow_circle
{
	position: absolute;
    right: 5px;
    top: 5px;
    width: 20px;
    z-index: 10;
    cursor:pointer;
}

#show_comments
{
	position:absolute;
	left: 23px;
	top:365px;
	width:280px;
}

#show_story
{
	position:absolute;
	left:23px;
	top:327px;
	width:280px;
}

#story_holder, .story_holder
{
	padding-bottom:40px;
	padding-top:20px;
    padding-left: 20px;
    min-height: 430px;

}

.story_item
{
	text-align:left;
	margin-bottom:20px;
	margin-left:20px;
	margin-right:20px;
	position:relative;
}

.comment_item
{
	text-align:left;
	margin-bottom:10px;
}

#profile_delete_holder 
{
	height:200px;
}

#vehicle_delete_holder
{
    width: 300px;
    height:200px;
    margin-left: 126px;
}

#profile_delete_confirm, #vehicle_delete_confirm
{
	display:none;
	overflow:hidden;
}



/* ALBUMS */
#edit_album_form
{
    width: 800px;
    margin-top: 20px;
   text-align:left;
    height: 250px;
}

#remove_album_holder
{
	color:#ffffff;
	position:absolute;
	right:0px;
    width: 212px;
    top: 160px;

}

#delete_album_confirm_holder
{
	display:none;
}

.photo_title_input{margin:0px;border:0px;border: 0px;height: 30px;width: 178px;padding: 0px 6px;}

#pictures_holder
{
	position: relative;
    margin-top: 75px;
    overflow: hidden;
}

#album_pictures_holder
{
	position: relative;
    top: 0px;
    overflow: hidden;
    float:left;
}

.album_item_outer{
	position:relative;
	width: 190px;
	height:190px;
	margin-top: 13px;
	margin-right: 13px;
	margin-bottom:58px;
	float:left;
	cursor:pointer;
}

.album_item{
	position:relative;
	width: 190px;
	height:190px;
	font-family: 'dosisregular';
	float:left;
	cursor:pointer;
}

.album_teaser_item{
	position:relative;
	width: 130px;
	max-height:130px;
	font-family: 'dosisregular';
	float:left;
	cursor:pointer;
	margin-right:5px;
	margin-bottom:5px;
}


.album_item_image_holder
{
	width: 100%;
	height: 100%;
	height:190px;
    background-repeat: no-repeat;
    background-size: cover;
}


.album_item_image{
	width:100%;
	vertical-align: middle;
}
.album_item_title{
	width: 100%;	
	position: absolute;
	top: 90px;
	color: #ffffff;
	font-size: 16px;
	text-align: center;
	letter-spacing:1px;
	text-transform:uppercase;
	font-family: 'dosisregular';
	overflow:hidden;
}
.album_image_text_holder
{
	width:190px;
	height:60px;
	background:#000000;
	color:#ffffff;
	font-family: 'dosisregular';
	font-size:9px;
	letter-spacing:1px;
	text-transform: uppercase;
	position: relative;
	cursor: default;
}

.delete_editor{display: none;position: absolute;bottom: 0px;background:#000000;color:#ffffff;width: 100%;z-index:1000}

.lightbox_image_text_holder
{
	width:100%;
	height:60px;
	background:#000000;
	color:#ffffff;
	font-family: 'dosisregular';
	font-size:9px;
	letter-spacing:1px;
	text-transform: uppercase;
	position: relative;
	cursor: default;
	
}

.lightbox_image_text
{
	position: absolute;
	top:4px;
	left:60px;
	width:80%;
	height:50px;
	line-height:11px;
	text-align:left;
	
}

.image_text
{
	position: absolute;
	top:23px;
	left:5px;
	width:130px;
	height:33px;
	overflow:hidden;
	text-align:left;
}

.image_share_holder
{
	position: relative;
	left:25px;
	top: 5px;
	width:340px;
	height:55px;
}

.image_share_holder_lb
{
	position: absolute;
	left:5px;
	top: 5px;
	width:50px;
	height:15px;
}


.image_share_holder_top
{
	position: absolute;
	right:5px;
	top: 2px;
	width:100px;
	height:20px;
	overflow:hidden;
}

.lightbox_image_social_like_count
{
	position: absolute;
	right:5px;
	top: 32px;
	width:60px;
	height:20px;
	text-align:center;
}

.image_social_like_count
{
	position: absolute;
	right:5px;
	top: 25px;
	width:60px;
	height:20px;
	text-align:center;
}

.image_social_icon{
	cursor:pointer;
	width:20px;
	float:left;
	margin-right:3px;
}

.image_share_icon
{
  cursor:pointer;
  margin-left:2px;
}

.album_item_about{
	position:absolute;
	top:0px;
	left:0px;
	background-color: rgba(0,0,0,0.3);
	width: 96%;	
	padding:2%;
	color:#ffffff;
	font-size: 12px;
	height: 96%;
	overflow: hidden;
	text-align: left;
	letter-spacing:1px;
	font-family: 'dosisregular';
	display:none;
}


#traffic_alert_holder, #update_status_holder{display:none;position:absolute;left:125px;top:410px;width:420px;background:#000000;z-index:20000;border:1px solid #fff;}
#alert_input, #status_input{width:100%;resize:none;height:50px;padding:0px;margin:0px;}



/* TAGGING */
#tag_holder{display:none;position:absolute;left:20px;top:100px;width:420px;background:#ffffff;z-index:20000;}
#comment_holder{display:none;position:fixed;left:20px;top:200px;width:420px;background:#000000;z-index:20000;border:1px solid #fff;}
#tag_holder_top{height:60px;position:relative;top:0px;left:0px;margin-left:10px;width:400px;text-align:center;color:#ffffff;font-size:14px;font-family:'open_sanssemibold';}
#tag_holder_bottom{position:relative;width:294px;padding-bottom:10px;margin-left:63px;margin-top:6px;border-top:1px solid #fff;}
#add_comment_holder{position:relative;width:90%;margin:5px 5%;}
#comment_photo_input{width:100%;resize:none;height:50px;padding:0px;margin:0px;}



#tag_search_input{width:290px;height:34px;line-height:34px;color:#656364;font-family: 'open_sanslight';}
.tag_friend_item{position:relative;width:250px;height:50px;background:#ffffff;margin:5px 0px;cursor:pointer;line-height:50px;color:#656364;border-bottom:1px solid #c8c8c8;padding:5px 20px;}
.tag_friend_img_holder{position:absolute;left:0px;top:0px;width:50px;height:50px;overflow: hidden;-webkit-border-radius: 25px;-moz-border-radius: 25px;border-radius: 25px;}
.tag_friend_name{position:absolute;left:60px;line-height: 50px;color:#656364;font-size:14px;font-family: 'open_sansbold';}
.tag_item_image{width:150%;position:absolute;left:-20%;}

.title_editor{display: none;position: absolute;bottom: 0px;z-index: 300;}
.title_hover{position:absolute;left:5px;top:5px;width:25px;cursor:pointer;}
.showTag{position:absolute;bottom:-20px;left:0px;width:25px;cursor: pointer;}
.remove_image{position:absolute;top:5px;left:35px;width:25px;cursor: pointer;}
.like_image{position:absolute;top:5px;right:5px;width:25px;cursor: pointer;}
.comment_image{position:absolute;top:5px;right:35px;width:25px;cursor: pointer;}

.tag_overlay_close
{
	position:absolute;
	top:0px;
	right:0px;
	width:30px;
	height:35px;
	line-height:35px;
	color:#ffffff;
	font-size:16px;
	text-align:center;
	font-family: 'dosisregular';
	cursor:pointer;
	z-index:100;
}
.tag_overlay_head
{
	position:relative;z-index:1;line-height:35px;height:35px;width:100%;text-align:center;background:#000000;color:#ffffff;font-family:'dosisregular'
}

.comment_photo_item
{
	color:#ffffff;
	overflow:hidden;
	position:relative;
}

.comment_user
{
	font-family: 'dosissemibold';
	position:absolute;
	top:0px;
	left:20px;
	
}

.comment_date
{
	position:absolute;
	top:0px;
	right:20px;
}

.delete_comment_btn
{
	position: absolute;
    right: 5px;
    top: 0px;
    cursor:pointer;
}

.comment_text
{
	margin-left:20px;
	width:380px;
}

#result_list
{
	color:#ffffff;
	
}

.result_list_item
{
	width:383px;
	height:180px;
	background-repeat: no-repeat;
    background-size: cover;
    float:left;
    margin-left:10px;
    margin-bottom:10px;
    position:relative;
    border:1px solid #ffffff;
    overflow:hidden;
}



.result_item_image
{
	
	height:180px;
	margin-right:25px;
	float:left;
}

.div_white_over
{
	width:100%;
	height:100%;
	background: #000000;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
	filter: alpha(opacity=20);
	-moz-opacity: 0.2;
	-khtml-opacity: 0.2;
	opacity: 0.2;
	
}

.result_item_text
{
	width:180px;
	position:absolute;
	top:20px;
	right:5px;
	color:#ffffff;
	font-size:16px;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
	z-index:10;
	text-align:left;
}

#resultHolder
{
	color:#ffffff;
}




/* NEWSFEED */
#eventHolder
{
	color:#ffffff;
	margin-top:20px;
	margin-bottom:100px;
}

.event_item{width:800px;min-height:73px;max-height:520px;margin-bottom:0px;position:relative;overflow: hidden;background:#000000;}
.event_item_small{width:390px;min-height:110px;margin-bottom:0px;position:relative;overflow: hidden;float:left;background:#000000;}
.event_img{position: relative; width: 60px;height: 60px;left: 25px;top: 25px;float:left;}
.event_text_holder{position:absolute;top:25px;left:100px;z-index:25;font-size:17px;text-align: left;color: #ffffff;height: 60px;width:280px;}
.event_desc{position:relative;top:20px;left:25px;width:340px;padding:10px 0px;font-size:17px;color:#ffffff;text-align:left;overflow: hidden;text-overflow: ellipsis;margin-bottom:25px;}


.event_time{font-size:14px;font-family: 'dosisextralight';z-index:25;position:absolute;bottom:0px;}
.event_content{position:relative;left:0px;font-size:13px;top:0px;color:#4b4b4b;width:390px;}
.event_name{font-family: 'dosisbold';text-decoration: none;text-transform: uppercase;font-size:18px;}
.event_line{height:1px;background:#4b4b4b;border:none;width:375px;position:relative;top: 0px;left: 0px;}
.eventFade{display:none;position:absolute;left: 0px;top: 0px;width:100%;height:100%;background:#000000;-moz-opacity: 0.20;-khtml-opacity: 0.20;opacity: 0.20;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=20);filter: progid:DXImageTransform.Microsoft.Alpha(opacity=20);filter:alpha(opacity=20);z-index:20;}
.eventText{display:none;position:absolute;left: 0px;top: 115px;z-index:20;width:100%;height:100%;line-height:100%;color:#ffffff;text-transform: uppercase;letter-spacing: 1px;text-align: center;font-family:'open_sansbold'; font-size:35px;}
.event_image_holder{width: 340px;margin-bottom:50px;height:340px;overflow: hidden;position: relative;left: 25px;top: 35px;z-index:10;background-repeat: no-repeat;background-size: cover;}
.event_image{width:100%;position:relative;}
.event_image_details{position: relative;left:0px;background: #ffffff;padding: 5px;font-size: 11px;color: #005279;}

.event_text_bg{position:absolute;bottom:0px;left:0px;width:100%;height:70px;z-index:25;}



/* GROUP POSTS */
.group_post_item{width:355px;margin-bottom:0px;position:relative;overflow: hidden;float:left;background:#000000;padding:20px 10px;}
.group_post_content{position:relative;left:0px;font-size:13px;top:0px;color:#4b4b4b;width:100%;height:100%;}
.group_post_text_holder{position:relative;top:0px;left:0px;z-index:25;text-align: left;color: #ffffff;height: 60px;width:245px;}
.group_post_title{font-family: 'dosisbold';text-decoration: none;text-transform: uppercase;font-size:17px;max-height:}
.group_post_time{font-size:12px;font-family: 'dosisextralight';z-index:25;position:relative;}
.group_post_image_holder{width: 328px;position: relative;left: 0px;top: 10px;z-index:10;}



/* MESSAGES */
#messages_main_body
{
	width:800px;
	height:540px;
	background:#ffffff;
	position:relative;
	top:20px;
}

#messages_header
{
	height:60px;
	border-bottom:1px solid #b0b0b0;
	line-height: 60px;
	font-size:19px;
	color: #ffffff;
	background: #000000;
	font-family: 'open_sanssemibold';
	overflow:visible;
	position:relative;
}

#message_input_holder
{
	position:absolute;
	bottom:49px;right:0px;
	height:110px;
	width:470px;	
}

#messages_loading
{
	width:160px;
	position:absolute;
	right:100px;
	top:130px;
	display:none;
}

#messages_holder
{
	width:470px;
	height:320px;
	position:absolute;
	right:0px;
	top:61px;
	overflow: scroll;
	background:#ffffff;
}

#new_message_text
{
	margin-left:0px;
	margin-top:0px;
	height:100px;
	width:420px;
	resize:none;
}

#send_new_message
{
	margin-top:5px;
	width:100px;
	height:24px;
	line-height:24px;
	color:#818181;
	text-align:center;
	background:#ffffff;
	cursor:pointer;
	border:1px solid #818181;
	margin-right:22px;
	float:right;
}

#write_message_button
{
	border:1px solid #ffffff;
	width:94px;
	height:22px;
	line-height:24px;
	text-align:center;
	margin-right:10px;
	cursor:pointer;
	float:right;
	font-size:10px;
	margin-top:8px;
}

#conversations_holder
{
	width:329px;
	height:479px;
	border-right:1px solid #b0b0b0;
	background:#ffffff;
}

#conversations_name_search_holder
{
	position:absolute;
	top:0px;
	left:250px;
	width:500px;
}

#conversation_name_search
{
	width:200px;
}

.conversation_item
{
	border-bottom:1px solid #b0b0b0;
	height:85px;
	position:relative;
	cursor:pointer;
	text-align: left;
	color:#000000;
}

.conversation_item.active
{
	background: #f9a33b;
}

.active_arrow
{
	position: absolute;
    right: -18px;
    z-index: 1;
    top: 26px;
    display:none;
}

.notification_item
{
	border-bottom:1px solid #b0b0b0;
	height:82px;
	position:relative;
	text-align: left;
}

.conversation_image_holder
{
	width:62px;
	height:62px;
	overflow:hidden;
	position:absolute;
	left:10px;
	top:10px;
	border:1px solid #b0b0b0;
	
	
}

.conversation_name
{
	
	position:absolute;
	left:92px;top:10px;
	width:175px;
	font-family: 'dosisbold';
}

.conversation_text_sample
{	
	
	font-family: 'dosisregular';
	position:absolute;
	left:92px;top:45px;
	width:170px;
	text-overflow: ellipsis;
	
}

.conversation_date
{
	
	font-family: 'dosisregular';
	position:absolute;
	top:13px;
	right:5px;
	
}

#notifications
{
	height:415px;
	overflow:scroll;
}


#notifications_holder
{
	position: fixed;
	left: 485px;
    top: 90px;
	width:330px;
	height:510px;
	background:#ffffff;
	z-index:1000;
	display:none;
	-webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
}

#get_notification
{
	cursor:pointer;
}

.message_image_holder
{
	width:40px;
	height:40px;
	overflow:hidden;
	position:absolute;
	left:2px;
	top:10px;
	border:1px solid #b0b0b0;
	
}


.messages_holder_item
{
	float:left;
	width:430px;
	position:relative;
	padding-bottom:10px;
	margin-bottom:4px;
	margin-left:20px;
	color:#ffffff;
	text-align:left;
}

.messages_holder_item.partner
{
	text-align:right;
}

.message_name
{
	
	color:#000000;
	margin-top: 10px;
    margin-left: 67px;
	width:430px;
	font-family: 'dosisbold';
}

.message_text_sample
{	
	
	font-family: 'dosisregular';	
	margin-top: 10px;
    margin-left: 67px;
	width:360px;
	color:#000000;
}

.message_date
{
	
	font-family: 'dosisbold';
	position:absolute;
	top:10px;
	right:5px;
	color:#000000;
}


.partner_message_image_holder
{
	width:40px;
	height:40px;
	overflow:hidden;
	position:absolute;
	right:2px;
	top:10px;
	border:1px solid #b0b0b0;
	
	
}



.partner_message_name
{
	color:#000000;
	margin-top: 10px;
    margin-left: 50px;
	width:330px;
	font-family: 'dosisbold';
	text-align:right;
}

.partner_message_text_sample
{	
	
	font-family: 'dosisregular';	
	margin-top: 6px;
    margin-left: 0px;
	width:360px;
	color:#000000;
	
}

.partner_message_date
{
	
	font-family: 'dosisbold';
	position:absolute;
	top:10px;
	left:2px;
	color:#000000;
}


#group_new_box
{
	display:none;
}


.error_msg
{
	position:Absolute;
	left:270px;
	width:260px;
	top:160px;
	color:#ffffff;
}


.member_item
{
	position:relative;
	float:left;
	margin-right:5px;
	margin-bottom:5px;
	width:36px;
	height:36px;
}


.member_item_img
{
	width:36px;
	height:36px;
}


.member_item_title {
    width: 100%;
    position: absolute;
    top: 30px;
    color: #d58b32;
    font-size: 12px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: 'dosisregular';
    overflow: hidden;
    text-shadow: 2px 2px 2px rgba(150, 150, 150, 1);
}


#join_group
{
	position: absolute;
	left:22px;
	top:410px;	
	width:280px;
}

#leave_group
{
	position: absolute;
	left:22px;
	top:410px;
	display:none;
	width:280px;
}



.member_edit_item
{
	position:relative;
	float:left;
	margin-right:5px;
	margin-left:5px;
	width:190px;
	
}

.member_img_fade
{
	position:absolute;
	left:0px;top:0px;
	width:100%;
	height:100%;
	background:#000000;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
	filter: alpha(opacity=40);
	-moz-opacity: 0.4;
	-khtml-opacity: 0.4;
	opacity: 0.4;
}


.member_edit_item_title {
    width: 100%;
    position: absolute;
    top: 20px;
    color: #ffffff;
    font-size: 12px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: 'dosisregular';
    overflow: hidden;
    text-shadow: 2px 2px 2px rgba(150, 150, 150, 1);
}

.member_remove_holder
{
	color:#ffffff;
	position:absolute;
	left:0px;
	top:50px;
	width:100%;
	height:100%;
	display:none;
}

.member_remove_yes, .member_remove_no
{
	cursor:pointer;
}


.group_application_item
{
	width:100%;
	height:60px;
	margin-bottom:2px;
}

.group_application_item_title
{
	margin-bottom:15px;
}


.application_accept_holder
{
	width:288px;
	height: 58px;
	border:1px solid #ffffff;
	float:left;
	
}


.accept_group_application
{
	float:left;
	cursor:pointer;
	margin-left:40px;
}

.decline_group_application
{
	float:right;
	cursor:pointer;
	margin-right:40px;
}

#group_event_overlay
{
	position:absolute;
	left:60px;top:100px;
	z-index:10000;
	width:680px;
	height:750px;
	color:#ffffff;
	display:none;
}

#poi_suggestion_overlay
{
	position:absolute;
	left:60px;top:100px;
	z-index:10000;
	width:680px;
	height:540px;
	color:#ffffff;
	display:none;
}

#user_event_overlay
{
	position:absolute;
	left:0px;top:0px;
	z-index:100;
	width:800px;
	min-height:600px;
	background:#000000;
	color:#ffffff;
	display:none;
}
.overlayBG
{
	position: absolute;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
	background:#111111;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
filter: alpha(opacity=90);
-moz-opacity: 0.90;
-khtml-opacity: 0.90;
opacity: 0.90;
}

#invite_overlay
{
	position:absolute;
	left:60px;top:0px;
	z-index:100;
	width:680px;
	height:380px;
	color:#ffffff;
	display:none;
}


#invite_site_overlay
{
	position:absolute;
	left:172px;top:120px;
	z-index:100;
	width:680px;
	height:380px;
	color:#ffffff;
	display:none;
}

#message_overlay
{
	position:absolute;
	left:60px;top:0px;
	z-index:1000;
	width:680px;
	height:380px;
	color:#ffffff;
	display:none;
}

#comment_overlay
{
	position:fixed;
	left:50%;
	top:50px;
	z-index:100000000;
	width:680px;
	height:680px;
	margin-left:-340px;
	color:#ffffff;
	display:none;
}

#user_comments
{
	margin:20px 0px;
}

#poi_search_options
{
	position:absolute;
	top:90px;
	width:100%;
	
	color:#ffffff;
	text-align: center;
	
}

#poi_text_search
{
	float:left;
	margin:0px;
}

#poi_categories
{
	float:left;
	margin-top:0px;
	margin-left:10px;
	margin-right:12px;
}

#poi_start_text_search
{
	
	margin-top:0px;
	width:253px;
	height: 34px;
    line-height: 34px;
}

#poi_locate_me
{
	margin-top:0px;
	position: absolute;
    right: 10px;
    top: 170px;
    z-index: 1000;
    width: 140px;
}


#poi_map
{
	width:800px;
	height:400px;
	position:relative;
	top:20px;
	margin-bottom:20px;
}

#poi_map_holder
{
	width:800px;
	height:550px;
	position:absolute;
	top:250px;
}

.poi_item
{
	width:150px;
	height:130px;
	padding:16px;
	background:#000000;
	text-align:center;
	float:left;
	font-size:14px;
	margin-left:12px;
	margin-bottom:12px;
	border:1px solid #cccccc;
}

#vehicle_map_holder
{
	width:800px;
	height:466px;
	position:absolute;
	
}

#event_map_holder
{
	width:800px;
	height:466px;
	position:absolute;
	
}

#event_locate_me
{
	margin-top:0px;
	position: absolute;
    right: 10px;
    top: 256px;
    z-index: 1000;
    width: 140px;
}

#club_map_holder
{
	width:800px;
	height:466px;
	position:absolute;
	
}

.labels 
{
 color: #d58b32;
 background:#000000;
 font-family: "Arial", sans-serif;
 font-size: 10px;
 font-weight: bold;
 text-align: center;
 width: 60px;
 border: 2px solid black;
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
filter: alpha(opacity=50);
-moz-opacity: 0.5;
-khtml-opacity: 0.5;
opacity: 0.5;
}


.small_chrome
{
	position:absolute;
	left:0px;
	z-index:1;
	width:100%;
}


.news_comment_button
{
	position:absolute;
	width:120px;
	right: 0px; 
    top: 0px;
    height: 28px;
    cursor:pointer;
    margin:0px;
}

.comment_content
{
	width:390px;
	height:520px;
	position:absolute;
	top:0px;
	right:0px;
	
	display:none;
}

.comments
{
	width:360px;
	overflow-y: scroll;
	overflow-x: hidden;
	height:320px;
	margin:10px 25px;
	color:#ffffff;
	
}

.comment_input
{
	width:334px;
	height:60px;
	resize:none;
	margin:10px 25px 0px;
}

.comment_send
{
	width:340px;
	margin:5px 25px;
	text-align:right;
	color:#ffffff;
}


.comment_holder_item
{
	position:relative;
	width:100%;
	text-align:left;
	color:#ffffff;
	font-size:12px;
	margin-bottom:15px;
	
}

.comment_profile_img
{
	position:absolute;
	left:0px;
	top:0px;
	width:40px;	
}

.comment_name
{
	position:relative;
	left:50px;
	top:0px;
	width:290px;
	font-size:14px;
}

.news_comment_text
{
	position:relative;
	left:50px;
	width:290px;
	
}


#event_holder
{
	display:none;
}

.group_comment_input
{
	width:545px;
	height:75px;
	resize:none;
	margin:20px;
	float:left;
}

.group_comment_send
{
	width:100px;
	margin-top:68px;	
	color:#ffffff;
	margin-right:105px;
	float:right;
}

.group_post_img
{
	width:60px;
	height:60px;float:left;
	margin:0px 20px;
}

.group_post_text
{
	position: relative;
    left: 0px;
    text-align: left;
    margin-top:10px;
    margin-left: 100px;
    width: 250px;
}

#post_holder, #event_holder
{
	position:relative;
}

.textarea_bg
{
	width:100%;
	height:120px;
	background: #000000;
	margin-bottom:20px;
}


#event_map
{
	width:100%;
	height:300px;
	position:relative;
	margin-bottom:30px;
}

.story_upload_btn
{
	width:80px;
	height:20px;
	line-height:20px;
	color:#fff;
	text-align:center;
	background:#000;
	border:1px solid #ffffff;
	font-size:12px;
	position: absolute;
	left:150px;
	top:0px;
	cursor:pointer;
}

.story_gallery
{
	width:100%;
	overflow:hidden;
}

.story_gallery_img
{
	float:left;
	width:80px;
	margin-right:10px;
	margin-bottom:10px;
}

.rate
{
	float:left;
	margin-left:10px;
	cursor:pointer;
}

.circle_empty
{
	width:20px;
}

.circle_half
{
	width:20px;
}

.circle_full
{
	width:20px;
	display:none;
}

#ratingHolder
{
	width:150px;
	height:20px;
	margin:20px auto;
}

#rank_badge
{
	position:absolute;
	left: 230px;
    top: 458px;
	z-index:200;
	width:55px;
}

#original_badge
{
	position:absolute;
	left: 300px;
    top: 458px;
	z-index:200;
	width:55px;
}

#mod_badge
{
	position:absolute;
	right: 25px;
    top: 50px;
	z-index:200;
	width:60px;
}

#story_thumb_holder
{
	width:450px;
	overflow:hidden;
}

.story_thumb_img
{
	width:40px;
	overflow:hidden;
	float:left;
	margin-right:10px;
	margin-bottom:10px;
    background-repeat: no-repeat;
    background-size: cover;
}


.ui-datepicker, .ui-datepicker-close
{
	font-family: 'dosisregular' !important;
}

.news_likes_holder
{
	position:absolute;
	right:135px;
	top:0px;
	width:30px;
	height:30px;
	line-height:30px;
	font-size:18px;
	font-family: 'dosisregular';
	text-align:center;
	color:#ffffff;
}

#vehicle_year_select
{
	height: 36px;
    width: 84px;
    padding-left:5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 0;
    border: 0px;
}

.the_likes
{
	width: 20px;
    height: 20px;
    float: right;
    line-height: 20px;
    text-align:left;
}

.delete_mod
{
	width:20px;
	float:left;
	cursor:pointer;
	margin-top:1px;
}

#delete_album_holder
{
	overflow:visible;
	width:180px;
	position:absolute;
	right:0px;
	top:0px;
	display:none;
}

.page_title
{
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
}

.member_delete
{
	position:Absolute;
	left:5px;
	top:5px;
	color:#ffffff;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
	z-index:10;
	cursor:pointer;
}

.member_admin
{
	position:Absolute;
	right:5px;
	top:5px;
	z-index:10;
	cursor:pointer;
	width:25px;
}

#vehicle_search_reset
{
	position: absolute;
    width: 46px;
    line-height: 24px;
    height: 24px;
    font-size: 12px;
    right: 12px;
    top: 57px;
    cursor:pointer;
}

.remove_album_image_holder
{
	position: absolute;
    top: 0px;
    z-index: 111;
    background: rgba(0,0,0,0.8);
    display:none;

}

.remove_album_image
{
	cursor:pointer;
	position:absolute;
	top:5px;
	right:5px;
	color:#ffffff;
	font-size:18px;
	z-index:100;
}