
.dog_overview_dog
{
	position: relative;
	float: left;
	width: 330px;
	height: 330px;
	overflow: hidden;
	margin-left: 2px;
	margin-right: 2px;
	margin-top: 2px;
	margin-bottom: 2px;
	text-align: center;
    line-height: 330px;
    background: #bfbfbf;
}

.dog_overview_dog img
{
	vertical-align: middle;
}

.dog_overview_dog:hover
{
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	filter: grayscale(100%);
}

.dog_overview_dog_overlay
{
	position: absolute;
	background: #c2c2c2;
	width: 100%;
	height: 60px;
}

.dog_overview_dog_overlay p
{
	color: black;
	font-size: 3em;
	text-align: right;
	text-transform: uppercase;
	padding-right: 10px;	
	line-height: 60px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.dog_new_create_arrow
{
	position: relative;
	float: right;
	height: 17px;
	right: 285px;
	cursor: pointer;
	top: 335px;
}

.dog_new_create_arrow_text
{
	background: #d4003d;
	color: white;
	text-transform: uppercase;
	text-align: center;
	line-height: 38px;
	width:174px;
	font-size: 12px;
	position:relative;
	cursor: pointer;
	top:20px;
	height:37px;
	font-family: 'open_sansbold';

}

#dog_edit_cover_upload
{
	width: 600px;
	height: 250px;
	position: relative;
	overflow: hidden;
	background-color: white;
	cursor: pointer;
	color:#4b4b4b;
}


.dog_edit_input
{
	width: 239px;
	border: 0px;
	font-size: 1.5em;
	padding-left: 5px;
	height: 2em;
	margin-top: 0.6em;
/*	position: absolute;
	width: 180px;
	height: 20px;
	font-size: 11px;
	padding-left: 5px;
	top: 0px;
	left: 120px;*/
}

.dog_edit_input_text
{
	width: 239px;
	border: 0px;
	font-size: 1.5em;
	padding-left: 5px;
	height: 8em;
	margin-top: 0.6em;
}

.dog_edit_half
{
	position: relative;
	float: left;
}

#dog_edit_right
{
	margin-left: 5px;
	width:180px;
}

#dog_edit_left
{
	margin-left: 6px;
	width:310px;
}
.dog_edit_radio
{
	float: left;
	width: 15%;
	margin: 0px;
	margin-top: 12px;
}

.dog_edit_radio_text
{
	width: 35%;
	float: left;
	margin-top: 6px;
}

textarea#dog_about
{
	font-family: 'SourceSansPro-Regular';
}

#dog_edit_profile_upload, #vet_edit_profile_upload, #user_edit_profile_upload
{
	margin-top: 10px;
	width: 190px;
	height: 220px;
	position: relative;
	overflow: hidden;
	font-size: 1.5em;
	margin-bottom:5px;
	background-color: white;
	text-align: center;
	cursor:pointer;
}

#dog_edit_profile_upload img
{
	vertical-align: middle;
	
}

.dog_edit_hidden_upload
{
	display: none;
}


.dog_edit_frenemies
{
	position: relative;
	width: 180px;
	max-height: 60px;
}

.frenemies_header
{
	position: relative;
	background-color: white;
	font-size: 1em;
	height: 2em;
	text-transform: uppercase;
	line-height: 2em;
}


#dog_frenemies_friends, #dog_frenemies_enemies
{
	min-height:200px;
	margin-top:15px;
}

.frenemies_dog_detail
{
	position: absolute;
	top:0px;
	left:0px;
	width:190px;
	height:190px;
	
}
.frenemies_icon
{
	position: relative;
	height: 1.5em;
	width: 1.5em;
	vertical-align: middle;
	float: right;
	margin: 0.3em;
	cursor: pointer;
}

.frenemies_header_text
{
	background: #d4003d;
	color: white;
	text-transform: uppercase;
	text-align: center;
	line-height: 38px;
	width: 190px;
	font-size: 12px;
	position: relative;
	cursor: pointer;
	top: 0px;
	height: 37px;
	font-family: 'open_sansbold';
}

.frenemies_list
{
	position: relative;
	width: 100%;
	list-style-type:none;
	padding-left: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.frenemies_list li
{
	position: relative;
	height: 2em;
	line-height: 2em;
	background-color: #white;
}


.frenemies_list li:hover
{
	font-weight: bold;
}

.frenemies_image
{
	width: 2em;
	height: 2em;
	position: relative;
	text-align: center;
	float: left;
	background-color: white;
	line-height: 2em;
	
}

.frenemies_image img
{
	max-width: 2em;
	vertical-align: middle;
}

.frenemies_name
{
	position: relative;
	height: 2em;
	line-height: 2em;
	vertical-align: middle;
	text-align: left;
	padding-left: 3px;
	float: left;
}

#dog_frenemies_dog
{
	position: relative;
	width: 500px;
	height: 140px;
	background-color: #efefee;
}

#dog_frenemies_profilepicture
{
	position: relative;
	width: 140px;
	height: 140px;
	line-height: 140px;
	text-align: center;
}

#dog_frenemies_profilepicture img
{
	vertical-align: middle;
}

.dog_frenemies_frenemies
{
	position: relative;
	background-color: #c9c9c9;
	float: left;
	height: 45px;
	top: -45px;
	width: 234px;
	font-size: 1em;
	text-align: left;
	text-transform: uppercase;
	padding-left: 10px;	
	margin-top: 0px;
	margin-bottom: 0px;	
}

.dog_frenemies_frenemies:last-child
{
	margin-left: 12px;
}



.dog_frenemies_frenemies p
{
	margin-top: 0px;
	margin-bottom: 0px;
}

.dog_frenemies_frenemies_name
{
	color: #265478;
	font-size: 14px;
}

.dog_frenemies_frenemies_count
{
	color: #707173;	
	font-size: 12px;
}

.dog_overlay
{
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	opacity: 0.7;
	-moz-opacity:0.7;
	-khtml-opacity: 0.7;
}

#dog_frenemies_enemies{
	left:6px;
}

.frenemies_list_big
{
	position: relative;
	width: 244px;
	list-style-type:none; 
	padding-left: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.frenemies_list_big .friend_item
{
	position: relative;
	height: 60px;
	background-color: #eeeeee;
	margin-bottom: 2px;
	margin-top: 10px;
}


.frenemies_text_big
{
	position: absolute;
	left:110px;
	line-height:100px;	
	height: 100px;

}

.frenemies_name_big
{
	position: relative;
	color: #265478;
	font-size: 16px;
	text-transform: uppercase;
}

.frenemies_mut_friends_big
{
	position: relative;
	font-size: 12px;
	margin-top: 0px;
	margin-bottom: 0px;	
}

.friends_image_holder{
	height:100px;
	width:100px;
	overflow:hidden;
	position:absolute;
	left:0px;
	top:0px;
}
.frenemies_image_big
{	
	height: 100px;
	min-width: 100px;
	position: relative;	
}

.dog_frenemies_half
{
	position: relative;
	width: 250px;
	float: left;
	top: -45px;
	z-index:1; 
}
.dog_my_friends
{
	position: relative;
	float:left;
	width: 190px;
	height:190px;
	margin:5px;
	z-index:1; 
}

.my_friends_list_big
{
	position: relative;
	width: 500px;
	list-style-type:none; 
	padding-left: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}
.my_friends_item{
	position: relative;
	width:190px;
	height: 220px;
	background-color: #d4003d;
	margin-right:15px;
	margin-bottom:15px;
	overflow:hidden;
	float:left;
}
.my_friends_friend_text{
	position: absolute;
	font-size: 16px;
	height: 100px;
	line-height: 100px;
	left: 180px;
}
.friend_thumb_holder{
	width: 100%;
	position: absolute;
	top: 75px;
	text-align: center;
	color:#ffffff;
	font-family: 'open_sansbold';
	font-size:12px;
}
.thumb_holder{
	width: 50px;
	height: 50px;
	overflow: hidden;
	margin-top: 5px;
	margin-right: 5px;
	float:left;
}
.my_friends_thumb{
	width:100%;
}
#dog_frenemies_hover
{
	position: absolute;
	display: none;
	width: 244px;
	height: 110px;
	background: white;
	z-index: 4;
}

.dog_frenemies_hover_arrow
{
	width: 13px;
	position: absolute;
	bottom: -11px;
	left: 20px;
}

#dog_frenemies_hover_profilepicture
{
	width: 100px;
	height: 100px;
	position: relative;
	top: 5px;
	left: 5px;
	border: 3px black;
	line-height: 90px;
	text-align: center;
	float: left;
}


.dog_frenemies_hover_profilepicture img
{
	vertical-align: middle;
}

.dog_frenemies_hover_desc_title
{
	position: relative;
	top: 0px;
	left: 15px;
	font-size: 18px;
}

.dog_frenemies_hover_desc_title
{
	color: #265478;
}

.dog_frenemies_hover_desc_text
{
	margin-left: 116px;
	margin-top:5px;
	width: 125px;
}

.dog_profile_thumb{float:left;max-width: 60px;max-height: 60px;margin-left:5px;}
.friend_profile_thumb_holder{float:left;width: 90px;height: 90px;margin-right:5px;margin-bottom: 5px;position: relative;z-index:10;overflow:hidden;}
.overview_profile_thumb{height:120%;}
.profile_thumb_holder{width:190px;max-height:245px;overflow:hidden;}
.dog_list_item{position: relative;width: 139px;height: 155px;margin:5px;float:left;cursor:pointer;overflow:hidden;}
.dog_list_item.selected{box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  width:139px;
  height:155px;
  border:1px solid #d3004d;}
.dog_list_item_image{position: absolute;top:0px;left:0px;width:100%}
.dog_list_item_desc{position: absolute;top:55px;width:100%;text-align: center;color: #ffffff;font-size: 18px;font-family:'open_sansbold';text-transform: uppercase;}
#my_dog_holder{width:598px;background:#ffffff;position:absolute;z-index:1;padding-bottom:45px;border:1px solid #d4003d;top:-1500px;}
#save_dog_selection{width:120px;height:24px;line-height:24px;font-size:14px;text-align:center;position:absolute;bottom:10px;right:140px;background:#d4003d;color:#ffffff;cursor:pointer;text-transform: uppercase;font-family: 'open_sansbold';letter-spacing: 2px}
#cancel_dog_selection{width:120px;height:24px;line-height:24px;font-size:14px;text-align:center;position:absolute;bottom:10px;right:10px;background:#d4003d;color:#ffffff;cursor:pointer;text-transform: uppercase;font-family: 'open_sansbold';letter-spacing: 2px}
.dog_select_box{position:relative;top:21px;}
#dog_holder_text{color: #4b4b4b;font-size: 18px;margin-left:5px;margin-top:25px;position: relative;left: 0px;width: 300px;text-transform:uppercase;}
.dog_item{width: 500px;}
.friend_placeholder{position: relative;height: 60px;margin-bottom: 2px;margin-top: 2px;}
#dog_register_breed{display:none;}
#embed_input{border:0px;margin:0;padding:0;width:190px;height:30px;margin-bottom:10px;margin-top:0px;font-size:14px;font-family: 'open_sansregular';}
#embed_holder{display:none;}
#dog_breed_holder{display:none;}
.cancel_friend, .cancel_enemy{position:absolute;bottom:5px;left:45px;width:100px;height:20px;background:#d4003d;text-align:center;line-height:20px;color:#ffffff;z-index:100;cursor: pointer;font-family:'open_sansbold';}
.friend_parent{position:relative;}
.cancel_confirm_holder{display:none;position:absolute;left:0px;bottom:30px;height:30px;color:#ffffff;text-align:center;width:100%;}
.confirm_text{}
.confirm_remove, .confirm_enemy_remove{float:left;margin-top:10px;margin-left:23px;background:#d4003d;text-align:center;line-height:20px;color:#ffffff;z-index:100;cursor: pointer;width:60px;font-family:'open_sansbold';}
.cancel_remove{float:left;display:inline-block;margin-top:10px;margin-left:23px;background:#d4003d;text-align:center;line-height:20px;color:#ffffff;z-index:100;cursor: pointer;width:60px;font-family:'open_sansbold';}
#lost_holder{position:relative;right:0px;top:0px;}
#lost_preview{display:none;background:#d4003d;text-align:center;height:30px;line-height:30px;color:#ffffff;z-index:100;cursor: pointer;width:106px;position: absolute;top: -7px;left: 83px;text-transform: uppercase;font-family: 'open_sansbold';letter-spacing:1px;}
#delete_confirm_holder{width: 190px;position: relative;left: 0px;top: 30px;display:none;}
