

@font-face 
{
	font-family: 'SourceSansPro-Regular';
	src: url('Fonts/SourceSansPro-Regular.eot?') format('eot'), 
	     url('Fonts/SourceSansPro-Regular.otf')  format('opentype'),
	     url('Fonts/SourceSansPro-Regular.woff') format('woff'), 
	     url('Fonts/SourceSansPro-Regular.ttf')  format('truetype'),
	     url('Fonts/SourceSansPro-Regular.svg#SourceSansPro-Regular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sansbold';
    src: url('Fonts/opensans-bold.eot');
    src: url('Fonts/opensans-bold.eot?#iefix') format('embedded-opentype'),
         url('Fonts/opensans-bold.woff') format('woff'),
         url('Fonts/opensans-bold.ttf') format('truetype'),
         url('Fonts/opensans-bold.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sansregular';
    src: url('Fonts/opensans-regular.eot');
    src: url('Fonts/opensans-regular.eot?#iefix') format('embedded-opentype'),
         url('Fonts/opensans-regular.woff') format('woff'),
         url('Fonts/opensans-regular.ttf') format('truetype'),
         url('Fonts/opensans-regular.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sanssemibold';
    src: url('Fonts/opensans-semibold.eot');
    src: url('Fonts/opensans-semibold.eot?#iefix') format('embedded-opentype'),
         url('Fonts/opensans-semibold.woff') format('woff'),
         url('Fonts/opensans-semibold.ttf') format('truetype'),
         url('Fonts/opensans-semibold.svg#open_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sanssemibold_italic';
    src: url('Fonts/opensans-semibolditalic-webfont.eot');
    src: url('Fonts/opensans-semibolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('Fonts/opensans-semibolditalic-webfont.woff') format('woff'),
         url('Fonts/opensans-semibolditalic-webfont.ttf') format('truetype'),
         url('Fonts/opensans-semibolditalic-webfont.svg#open_sanssemibold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sansitalic';
    src: url('Fonts/opensans-italic-webfont.eot');
    src: url('Fonts/opensans-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('Fonts/opensans-italic-webfont.woff') format('woff'),
         url('Fonts/opensans-italic-webfont.ttf') format('truetype'),
         url('Fonts/opensans-italic-webfont.svg#open_sansitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sanslight_italic';
    src: url('Fonts/opensans-lightitalic.eot');
    src: url('Fonts/opensans-lightitalic.eot?#iefix') format('embedded-opentype'),
         url('Fonts/opensans-lightitalic.woff') format('woff'),
         url('Fonts/opensans-lightitalic.ttf') format('truetype'),
         url('Fonts/opensans-lightitalic.svg#open_sanslight_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'open_sanslight';
    src: url('Fonts/OpenSans-Light-webfont.eot');
    src: url('Fonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('Fonts/OpenSans-Light-webfont.woff2') format('woff2'),
         url('Fonts/OpenSans-Light-webfont.woff') format('woff'),
         url('Fonts/OpenSans-Light-webfont.ttf') format('truetype'),
         url('Fonts/OpenSans-Light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;

}


.sansbold{font-family: 'open_sansbold';}
.sansitalic{font-family: 'open_sansitalic';}
.sansregular{font-family: 'open_sansregular';}
img{border:0;}
input{padding:0px;margin:0px;}
select{-webkit-border-radius: 0px;-moz-border-radius: 0px;border-radius: 0px;}
.white{color:#ffffff;}


body
{
	font-family: 'open_sansregular';
	font-size: 12px;
	background-color: #e7e7e7;
	margin:0px;
	padding:0px;
}

#wrapper
{
	position: relative;
	width: 1000px;
	top:60px;
	margin-bottom: 10px;
	padding-bottom:30px;
}

#sidemenu
{
	position: absolute;
	left:0px;
	top:30px;
	width: 180px;
	background: #ffffff;
	min-height: 340px;
	z-index: 100;
	font-size: 10px;
	height:340px;
}

#sidemenu_logo
{
	margin-top: 30px;
}

.sidemenu_item
{
	position: relative;
	padding-left: 15px;

}

.sidemenu_item a
{
	text-decoration:none;
	color: #4b4b4b;
	font-size:11px;
	
}
.sidemenu_item a:hover
{	
	color: #d4003d;	
}

.sidemenu_item_header
{
	text-transform: uppercase;
	font-size: 1.5em;
	font-weight: bold;
	-webkit-margin-before: 0.5em;
	-webkit-margin-after: 0.5em;
	margin-top: 40px;
}

.sidemenu_item_centered
{
	text-align: center;
	padding-left: 0px;
}

.sidemenu_login{
	position:absolute;
}

.sidemenu_login_input
{
	width: 190px;
	height:30px;
	border: 0px;
	margin: 5px auto;
	padding:5px; 
	font-size:16px;
	font-family: 'open_sansregular';
}

.sidemenu_login_header{
	text-transform: uppercase;
	font-size: 16px;
	color:#ffffff;font-family: 'open_sansbold';
	margin:10px 0px;
}

.input_default
{
	color: #5a5a5a;
}
 
.sidemenu_arrow
{
	position: relative;
	float: right;
	height: 17px;
	right: 25px;
	cursor: pointer;
}

.sidemenu_arrow_text
{
	position: relative;
	float: right;
	text-align: right;
	line-height: 17px;
	padding-left: 5px;
	padding-right: 5px;
	font-size: 1.2em;
	right: 25px;
	cursor: pointer;
}

#sidemenu_login_arrow_text
{
	background: #d4003d;
	color: #ffffff;
	text-transform: uppercase;
	width:200px;
	height:40px;
	line-height:40px;
	text-align:center;
	font-size:18px;
	margin-top:20px;
	cursor:pointer;
	font-family: 'SourceSansPro-Regular';
}


#sidemenu_register_arrow_text
{
	background: white;
	color: black;
	text-transform: uppercase;
}

#sidemenu_static
{
	position: relative;
	padding: 20px;
	top: 0px;
	background: #ffffff;
	width: 140px;
	height:260px;
	font-family: 'open_sanssemibold';
	font-size:11px;
	
}

#sidemenu_static .sidemenu_item
{
	font-size: 11px;
	line-height:27px;
	font-family: 'open_sanssemibold';
	width: 140px;
	text-transform: uppercase;
	cursor: pointer;
	color:#4b4b4b;	
}


#sidemenu_static .sidemenu_item:hover
{
	color:#d4003d;
}

#sidemenu_static ul
{
	-webkit-padding-start: 0px;
	margin-left: 0px;
}




#sidemenu_footer
{
	position: absolute;
	border-top: solid 1px #005279;
	bottom: 0px;
	margin-bottom: 5px;
	padding-left: 0px;
	margin-left: 27px;
	width: 125px;
}

.sidemenu_footer_item
{
	position: relative;
	text-transform: uppercase;
	font-size: 8px;
	font-family: 'open_sansbold';
}


#loggedin_holder
{
	text-transform: uppercase;
	font-size: 16px;
	color:#ffffff;
	line-height:20px;
	width:220px;
	height:40px;
	position: absolute;
	left: 0px;
	top: 360px;
}
#loggedinTextHolder
{
	font-size:11px;
	font-family: 'open_sansregular';
	color:#ffffff;
	text-align:left;line-height:13px;
	position:absolute;
	left:40px;
	top:2px;
	width:160px;
}
#loggedinDot
{
	position:absolute;
	left:5px;
	top:3px;
	width:26px;
	height:26px;
	overflow:hidden;
	-webkit-border-radius: 13px;
	-moz-border-radius: 13px;
	border-radius: 13px;
}

.sidemenu_submenu
{
	z-index: 0;
	position: absolute;
	display: none;
	left: 0px;
	top: 278px;
	background:#a1c4d6;
	width:130px;
	padding:7px 0px;
}


.sidemenu_submenu_item
{
	list-style: none;
	font-size: 12px;
	line-height: 27px;
	font-family: 'open_sansbold';
	width: 115px;
	text-transform: uppercase;
	margin-left: auto;
	padding-left: 15px;
	cursor: pointer;
	color: #005279;	
}

.sidemenu_submenu li:first-child
{
	border-top: solid 2px transparent;
}

.sidemenu_submenu li:last-child
{
	border-bottom: solid 2px transparent;
}

.sidemenu_submenu_item:hover
{
	font-family: 'open_sansbold';
}
#container
{
	position:absolute;
	width:1000px;
	top:0px;
	left:200px;
}

#content
{
	width: 600px;
	padding-left: 10px;
	padding-right: 10px;
	margin: 0px auto;
	min-height:400px;
	overflow:hidden;
}

.content_header
{
	font-size: 20px;
	position: relative;
	text-transform: uppercase;
	margin-top:40px;
	margin-bottom: 10px;
	color:#d4003d;
	text-align: center;
	font-family: 'open_sansbold';
}

#bkgImage {
	position: absolute;
	top: 0px;
	left: 0px;
	background-image: url('../img/Henry.jpg');
	width: 600px;
	z-index:-1000;
}
#downloadBG{position:absolute;left:0px;top:930px;width:100%;height:500px;background:#ffffff;display:none;}
#downloadHolder{height:420px;padding:25px 0px;width:100%;color:#000000;margin-top:20px;text-align:center;}
#sidemenu_login{position:relative;width:200px;margin:0px auto;}
#WelcomeHolder{position:relative;width:600px;height:400px}
#welcomeImg{position:absolute;width:100%;z-index:10;min-width:900px;min-height:400px;display: none;}
#BkgEr{position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; background-color: white; opacity: 0.1;z-index:20;display:none;}
#welcomeText{font-family: 'open_sansbold';font-size:50px;letter-spacing:2px;position:absolute;left:0px;top:0px;z-index:30;line-height:361px;width:100%;text-align:center;text-transform:uppercase;color:#ffffff;}
#fbReg{width:203px;cursor:pointer;}
#termsHolder{position: relative;left:0px;font-size:14px;margin:10px 0px;color:#4d4d4d;}
#edit_dogsitter_data{position: absolute;top: 55px;left: 267px;}
#map_canvas,#map_canvas_profile{ width: 246px;height: 267px;margin-left: 0px;margin-top: 10px;}
#menu_profile_picture{max-width:90px;max-height:90px;margin-left:15px;margin-top:15px;}
#Innercontent{position: absolute; top: 0px; left: 20px; width: 705px; height: 100%; padding: 10px;}
.longLine{background:#005279; width:525px;border:0px;height:1px;margin:15px 0px;}
.home_red_box{line-height:17px;background:#ea6645;width:226px;height:126px;float:left;margin-top:7px;position:relative;font-size:14px;color:#ffffff;font-family: 'open_sansregular';padding:10px;}
.front_syringe{position:absolute;bottom:15px;left:15px;z-index:100;}
.red_box_description{position:absolute;left:100px;top:90px;width:135px;font-size:10px;line-height:14px;color:#ffffff;font-family: 'open_sansregular';}
.home_welcome_head_small{font-family: 'open_sansregular';font-size:27px;color:#005279;text-align:center;margin-top: 40px;}
.home_welcome_head_big{font-family: 'open_sansbold';font-size:48px;text-align:center;color:#005279;text-transform: uppercase;margin-bottom: 40px;}
.home_italic{margin-top:20px;font-family: 'open_sansitalic';font-size:16px;text-align:center;color:#000000;margin-bottom:20px;width:600px;}
.home_welcome_semibold{font-family: 'open_sanssemibold';font-size:11px;text-align: left;color:#005279;width:220px;margin-bottom:10px;}
.home_mid_bold{font-family: 'open_sansbold';font-size:15px;color:#005279;text-transform: uppercase;}
#good_boy{position:absolute;left:255px;top:310px;z-index:10;}
#good_girl{position:absolute;left:333px;top:268px;}
.home_bottom_text{font-family: 'open_sansregular';font-size:9px;color:#005279;height:30px;text-align:left;position:absolute;bottom:20px;}
.shortLine{background:#4b4b4b; width:125px;border:0px;height:1px;margin:15px auto;}
#sidemenu_profile_bg{height:120px;width:202px;position:absolute;left:-22px;top:150px;background:#005279;}
#profile_corner_img{position: absolute;left: 0px;top: -18px;}
#whatsnew_corner_img{position: absolute;left: 0px;bottom: -15px;}
.boldText{font-family: 'open_sansbold';}
#logout{text-decoration:none;position:relative;left:0px;top:25px;text-transform:uppercase;width:140px;font-size:12px;line-height:30px;height:30px;background:#d4003d;color:#ffffff;font-family: 'open_sansbold';text-align:center;cursor:pointer;}
#sidemenu_register{z-index:20;position:absolute;left:25px;top:260px;text-transform:uppercase;width:130px;font-size:12px;line-height:30px;height:30px;background:#d4003d;color:#ffffff;font-family: 'open_sansbold';text-align:center;cursor:pointer;}
#sidemenu_login_btn{z-index:20;position:absolute;left:25px;top:200px;text-transform:uppercase;width:130px;font-size:12px;line-height:30px;height:30px;background:#d4003d;color:#ffffff;font-family: 'open_sansbold';text-align:center;cursor:pointer;}
.menu_icon, .white_icon{position: relative;top: 4px;margin-right: 10px;}
.sidemenu_newHere{position: absolute;left: -40px;top: 288px;}
#sidemenu_facebook_login{cursor:pointer;width:100%;}
#sidemenu_newhere_text{font-size:11px; font-family: 'open_sanssemibold_italic';color:#005279;position:absolute;left:70px;top:300px;width:80px;}
#whatsNew{height:40px;width:430px;background:#005279;position:absolute;left:-5px;z-index:10;}
#whatsnew_text{color:#ffffff;font-size:20px;font-family: 'open_sansbold';color:#4b4b4b;width:100%;text-align:center;margin-top:30px;text-transform: uppercase; letter-spacing:2px;}
.loggedin_red_box{position:absolute;left:455px;top:385px;line-height:17px;background:#ea6645;width:228px;height:87px;font-size:14px;color:#ffffff;font-family: 'open_sansregular';padding:10px;}
.whiteLine{background:#ffffff;border:none;width:227px;height:1px;position:absolute;top:75px;}
.loggedin_box_text{position:absolute;top:10px;right:10px;text-align:right;font-size:12px;}
.red_box_icon{position: absolute;top: 10px;left: 15px;z-index: 100;}
.red_box_search{font-size:8px;font-family: 'open_sansbold';color:#ffffff;position:absolute;right:10px;bottom:5px;}
.loggedin_blue_line{background:#005279;border:none;width:247px;height:1px;position:absolute;top: 360px;left: 455px;}
#loggedin_share_holder{position:absolute;left:540px;top:337px;}
.share_icon{width:20px;cursor:pointer;margin-right:5px;}

#eventHolder{width:600px;position: relative;top: 10px;overflow:hidden;}
#eventBG{background:#a1c4d6;width:415px;height:620px;-moz-opacity: 0.80;-khtml-opacity: 0.80;opacity: 0.80;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=80);filter: progid:DXImageTransform.Microsoft.Alpha(opacity=80);filter:alpha(opacity=80);}
.event_img{height: 120%;position: absolute;z-index:25;top:-6px;left:0px}
.newsfeed_profile_img_holder{width:50px;height:50px;border:2px solid #ffffff;overflow: hidden;border-radius: 40px 40px 40px 40px;-moz-border-radius: 40px 40px 40px 40px;-webkit-border-radius: 40px 40px 40px 40px;position: absolute;bottom: 5px;left: 5px;z-index:25;}
.event_item{width:598px;margin-bottom:0px;position:relative;min-height:73px;max-height:358px;overflow: hidden;border:1px solid #b0b0b0;}
.event_item_small{width:188px;margin-bottom:0px;position:relative;height:248px;overflow: hidden;float:left;border:1px solid #b0b0b0;}

.event_time{font-size:9px;font-family: 'open_sansitalic';z-index:25}
.event_content{position:relative;left:0px;font-size:11px;top:0px;color:#4b4b4b;width:100%;height:100%;}
.event_name{font-family: 'open_sanssemibold';text-decoration: none;text-transform: uppercase;}
.event_line{height:1px;background:#4b4b4b;border:none;width:375px;position:relative;top: 0px;left: 0px;}
.eventFade{position:absolute;left: 0px;top: 0px;width:100%;height:100%;background:#000000;-moz-opacity: 0.20;-khtml-opacity: 0.20;opacity: 0.20;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=20);filter: progid:DXImageTransform.Microsoft.Alpha(opacity=20);filter:alpha(opacity=20);z-index:20;}
.eventText{position:absolute;left: 0px;top: 115px;z-index:20;width:100%;height:100%;line-height:100%;color:#ffffff;text-transform: uppercase;letter-spacing: 1px;text-align: center;font-family:'open_sansbold'; font-size:35px;}
.event_image_holder{width: 100%;height: auto;max-height:360px;overflow: hidden;position: relative;left: 0px;top: 0px;z-index:10;}
.event_image{width:100%;position:relative;}
.event_image_details{position: relative;left:0px;background: #ffffff;padding: 5px;font-size: 11px;color: #005279;}
.event_text_holder{position:absolute;bottom:5px;left:65px;z-index:25;font-size:10px;}
.event_text_bg{background:#ffffff;position:absolute;bottom:0px;left:0px;width:100%;height:70px;z-index:25;}



.instagram_item{margin-left: 0px;width: 598px;margin-bottom: 0px;position: relative;clear:both;border:1px solid #b0b0b0}
.taggedHolder{width:600px;max-height:300px;overflow: hidden;position:relative;top:0px;}
.taggedText{position: absolute;left: 0px;font-size: 11px;top: 0px;color: #4b4b4b;}
.taggedPicture{width:100%;}
.instagram_item_details{position: relative;background: #ffffff;padding: 5px;font-size: 11px;color: #4b4b4b;z-index:25}


#booking_calendar{float:left;width:500px;margin-top:20px;margin-bottom:40px;height:400px;}
.reservation_text{float:left;width:500px;margin-top:20px;margin-bottom:20px;}
.reservation_description{float:left;width:500px;margin-top:0px;margin-bottom:0px;}
#home_friend_holder{position: absolute;left: 455px;top: 625px;}
#home_friends_images{position: relative;top: 25px; left:1px;}
.home_friend_image{width:100%; height:auto;}
.home_friend_item{width:50px;height:50px;overflow: hidden;float:left;margin-right:5px;margin-bottom: 5px;}
#iframe_header_overlay
{
	position: relative;
	left: 0px;
	top: 0px;
	height: 40px;
	width: 450px;
	background:#d4003d;
	margin-left: 0px;
	line-height: 40px;
	text-align: left;
	color: #ffffff;
	font-size: 20px;
	padding-left:10px;
	z-index:200;
	font-family: 'open_sansbold';
}
#iframe_content
{
	float: left;
	position: relative;
	width: 460px;
	padding: 0px;
}
#iframe_dog_details_desc
{
	color: #0c204e;
	font-size: 18px;
}
#iframe_picture_holder{width:180px;height:180px;overflow:hidden;position: absolute;top: 40px;z-index: 300;right: 0px;}
#iframe_detail_profile_picture{width:100%;}
#iframe_link_page{position:absolute;left:0px;top:190px;}
#iframe_button_skin{background: #d4003d;color: white;text-transform: uppercase;text-align: center;line-height: 30px;padding-left: 5px;padding-right: 5px;font-size: 12px;cursor: pointer;height:30px;font-family: 'open_sansbold';width:180px;}
.iframe_overview_profile_thumb{width:100%;}
.iframe_friend_thumb{float:left;width: 47px;height: 47px;margin-right:3px;margin-bottom: 3px;position: relative;z-index:10;overflow:hidden;}
.iframe_profile_thumb_holder{padding:5px 0px 10px 20px;width:250px;height:60px;}

#snoopstr_logo{position:absolute;left:20px;top:20px;cursor:pointer;}
#headerBg{position:fixed;left:0px;top:0px;height:60px;width:100%;background:#d4003d;z-index:8999;}
#headerMenu{position:fixed;top:0px;left:0px;width:1024px;height:60px;z-index:9000;margin:0px auto;}
/*#menuRight{position:absolute;right:0px;top:0px;}*/
.menuRight_item{margin-top:15px;height:30px;cursor:pointer;padding: 0px 15px;float:right;border-left: 1px solid #f4bfce;text-transform: uppercase;color:#ffffff;font-family: 'open_sanssemibold';font-size: 11px;letter-spacing:2px;line-height:30px;position:relative;width:130px;  text-align: center;}

#social_holder_start{height:200px;width:100%;color:#000000;margin-top:55px;margin-bottom:30px;padding:40px 0px;color:#ffffff;text-align:center;}
#socialBG{position:absolute;left:0px;top:1450px;width:100%;height:300px;background:#d4003d;display:none;}
.redBox{width:180px;height:224px;background:#d4003d;}
.hline{width:80px;height:1px;border:0;background:#000000;}
.whiteBox{width:180px;height:224px;background:#ffffff;}
#vets_sitters_holder{width:600px;margin:30px 0px;position:relative;}
#home_vet{position:absolute;left:200px;top:0px;width:400px;}
.home_text{position:absolute;top:0px;left:0px;width:100%;height:140px;color:#ffffff;text-align:center;padding:41px 0px;}
#home_sitter{position:absolute;top:244px;left:0px;width:400px;}
#start_invite{width:160px;height:40px;border: 1px solid #ffffff;line-height:40px;text-align:center;font-size:14px;font-family: 'open_sansbold';margin:10px auto;}
.separator{width:240px; margin:20px auto;}
#login_form{width: 210px;margin: 10px auto;font-family: 'open_sansregular';}
#edit_form{width: 210px;font-family: 'open_sansregular';position: relative;}
#footer{width:100%;height:50px;color:#b4b4b4;text-transform:uppercase;font-size:12px;margin-top:100px;}
.footer_line{width:100%;height:1px;background:#b4b4b4;border:0px;margin:5px 0px;}
.footer_img{margin-right: 5px;}
.footer_text{float:right;margin-left:5px;}
#welcomeImgHolder{position: relative;left: 0px;top: 60px;width: 100%;height: 400px;overflow: hidden;}
#invite_send_mail{width: 167px;color: #4d4d4d;border: 0px;margin-bottom: 5px;font-size: 16px;height: 38px;line-height: 38px;padding-left: 5px;margin-top: 15px;float: left;}
.share_item{cursor:pointer;position:relative;margin-right:10px;float:left;text-align:center;font-family:'open_sansbold';width:172px;height:200px;background:#d4003d;color:#ffffff;text-transform:uppercase;letter-spacing:2px;font-size:16px;}
.share_item_img{margin-top:25px;}
.share_item_text{margin-top:20px;}
#add_new_album{margin:45px auto 0px auto;}
.photo_title_holder{width:174px;height:37px;position:relative;background:#d4003d;color:#ffffff;font-size:9px;}
#profile_hover_box{z-index:10;font-family:'open_sansbold';position:fixed;left:0px;top:0px;width:180px;height:30px;line-height:30px;color:#d4003d;font-size:10px;background:#ffffff;}
.profile_hover_item{text-transform:uppercase;width:85px;float:left;color:#d4003d;text-decoration:none;text-align:center;margin:right:10px;cursor:pointer;}
.profile_hover_item:hover{text-decoration:underline;}
#add_activity_form{height:175px;}

#loadingBG{display:none;position:absolute;left:0px;top:0px;z-index:100000000;width:100%;height:100%;background:#000000;-moz-opacity: 0.60;-khtml-opacity: 0.60;opacity: 0.60;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=60);filter: progid:DXImageTransform.Microsoft.Alpha(opacity=60);filter:alpha(opacity=60);}
.edit_input
{
	width: 185px;
	color: #4d4d4d;
	border: 0px;
	padding:0px;
	margin-bottom: 5px;
	font-size: 16px;
	height: 38px;
	line-height: 38px;
	padding-left: 5px;
	margin-top: 15px;
	float: left;
	font-family:'open_sansregular';
}


#loadingGif{position:absolute;left:0px;top:0px;z-index:100000100;display:none}