
.statics_header
{
	position: absolute;
	top:-60px;
	left:400px;
	height: 60px;
	width: 490px;
	color: #ffffff;
	text-transform: uppercase;
	font-size: 25px;
	line-height: 60px;
	padding-right: 10px; 
	font-family: 'open_sansbold';
}

.page_header
{
	height: 60px;
	width: 500px;
	color: #ffffff;
	text-transform: uppercase;
	font-size: 25px;
	line-height: 60px;
	padding-right: 10px; 
	font-family: 'open_sansbold';
	margin-left: 190px;
	text-align: center;
}

.statics_search
{
	
}

.statics_alphabet
{
	position: relative;
	top:30px;
	height: 30px;
	width: 590px;
	padding-left: 5px;
	padding-right: 5px;
	line-height: 30px;
	color: white;
	background-color: #d4003d;
	font-size: 12px;
	text-align: center;
	font-family: 'open_sansregular';
}

.statics_alphabet a
{
	color: white;
}

.statics_currentletter
{
	position: relative;
	top:35px;
	height: 30px;
	width: 80px;
	padding-left: 10px;
	padding-right: 10px;
	color: #d4003d;
	text-transform: uppercase;
	font-size: 24px;
	text-align: left;
	font-family: 'open_sansbold';
}

.statics_half
{
	position: relative;
	
	float: left;
	
}
#statics_left
{
	width: 400px;
	font-family: 'open_sansitalic';
	font-size: 13px;
	color:#4d4d4d;
}

#statics_right
{
	width: 190px;
	margin-left:10px;
	font-family: 'open_sansitalic';
	font-size: 10px;
	color:#4d4d4d;
}

#vets_list
{
	margin-top:5px;
	padding-bottom:50px;
	overflow: hidden;
}

#breeds_list
{
	margin-top:25px;
}

.featured_vets_list_item
{
	position: relative;
	float:left;
	width: 190px;
	height:220px;
	background-color: #d4003d;
	margin-top:15px;
	margin-right:15px;
	overflow: hidden; 
}

.featured_sitter_list_item
{
	position: relative;
	float:left;
	width: 100px;
	height:100px;
	background-color: #eaeaeb;
	margin-top:10px;
	margin-right:10px;
	overflow: hidden; 
}

.vets_list_item
{
	position: relative;
	width: 100%;
	height: 60px;
	background-color: #eaeaeb;
	margin-top:5px;
}

.vets_list_item_image
{
	position: absolute;
	left:0px;
	top:0px;
	min-width: 190px;
	height: 220px;
}

.sitter_list_item_image
{
	position: absolute;
	left:0px;
	top:0px;
	width: 100%;
	min-height:100px;
}

.vets_list_item_image img
{
	vertical-align: middle;
	max-height: 50px;
	max-width: 50px;

}

.vets_list_item_desc
{
	position: absolute;
	top:70px;
	width:100%;
	text-align: center;	
	color: #ffffff;	
	font-size: 22px;
	font-family: 'open_sansbold';
	text-transform:uppercase;
}

.sitter_list_item_desc
{
	position: absolute;
	top:40px;
	width:100%;
	text-align: center;	
	color: #ffffff;	
	font-size: 14px;
	font-family: 'open_sansbold';
	text-transform:uppercase;
}

#vet_detail_header
{
	position:relative;
	z-index:2;
	margin-top:0px;
}
#vets_details{
	position:relative;
	z-index:0;
	min-height:700px;
}
#vet_detail_header_cover
{
	width: 100%;
	height: 250px;
	position: relative;
	z-index:10;
	overflow: hidden;
}

#breed_detail_header_cover
{
	width: 100%;
	height: 270px;
	position: relative;
	z-index:10;
	overflow: hidden;
}



#vet_detail_header_overlay
{
	position: relative;
	left: 0px;
	top: 0px;
	height: 55px;
	width: 490px;
	/*-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	background-color: rgba(170,170,170,0.75);*/
	background:#005279;
	margin-left: 0px;
	line-height: 55px;
	text-align: left;
	color: #ffffff;
	font-size: 25px;
	padding-left:10px;
	z-index:200;
	font-family: 'open_sansbold';
}

#vet_details_desc
{
	min-height: 694px;
	background-color: #eaeaeb;
	
	padding: 5px;
}

#vet_details_contact
{
	
	font-size:10px;
	background-color: #eaeaeb;
	color: #4d4d4d;
	padding: 5px;
	font-family:'open_sansitalic';	
}

#vet_details_times
{
	
	background-color: #eaeaeb;
	
	padding: 5px;	
}

#vet_details_gallery
{
	height: 240px;
	width:190px;
	background-color: #eaeaeb;		
	overflow: hidden;
}

.vet_details_gallery_item
{
	position: relative;
	float: left;
	height: 190px;
	width: 190px;
	line-height: 70px;
	text-align: center;
	overflow: hidden;
	display: none;
}

.gallery_item_active
{
	display: block;
}

.vet_details_gallery_item img
{
	width: 100%;
}

.vets_details_subheader
{
	color: #b4b4b4;
	font-size: 20px;
	font-family:'open_sansbold';
	text-transform:uppercase;
	letter-spacing:2px;
}

.gallery_rotator
{
	position: absolute;
	color: #1d4c71;
	font-size: 20px;
	cursor: pointer;
}

.gallery_rotate_left
{
	left: 10px;
	top: 210px;	
}

.gallery_rotate_right
{
	left: 170px;
	top: 210px;	
}

.vet_detail_favorite
{
	position: relative;
	top: -30px;
	left: 390px;
	height: 20px;
	width: 100px;
	background-color: #eaeaeb;	
	color: #1d4c71;
	cursor: pointer;
}

.vet_detail_favorite img
{
	position: relative;
	height: 18px;
	width: 18px;
	float: left;
	margin: 1px;
}

.vet_detail_favorite p
{
	margin: 0px;
	float: left;
	font-size: 14px;
	line-height: 20px;
	font-weight: bold;
	width: 80px;
	text-align: center;
	text-transform: uppercase;
}

.alphabet_tooltip
{
	display: inline;
}

.custom_tooltip
{
	background-color: #124a78:
	color: white;
	width: 200px;
}
#detail_profile_picture{max-width:190px;max-height:220px;}
#sitter_details_rating{min-height:160px;background-color: #eaeaeb;padding:5px;}
.rate{float:left;margin-left:10px;cursor:pointer;}
#profile_search, #vet_search, #sitter_search, #zone_search, #place_search{width: 185px;border: 0px;font-size: 16px;height: 38px;padding-left: 5px;margin-right:15px;margin-top:15px;color:#4d4d4d;float:left;}


	
.dog_cover_photo{width:100%;}
.detail_line{margin-bottom:10px;font-size:11px;font-family: 'open_sansbold';color:#7d7d7d;position:relative;left:150px;top:-15px;width:140px;}
#edit_left{position:relative;top:10px;left:0px;width:400px;}
#edit_right{position:absolute;top:10px;left:410px;width:190px;}
.dog_details_subheader{color: #7d7d7d;font-size: 11px;font-family: 'open_sansregular';margin-left:20px;margin-top:0px;}
.dog_details_subheader_edit{color: #7d7d7d;font-size: 11px;font-family: 'open_sansregular';margin-top:10px;}
#dog_details_desc
{
	overflow:hidden;
	color: #0c204e;
	font-size: 18px;
	padding: 0px 5px;
	margin-bottom:15px;
	float: left;
}

#dog_details_lost
{
	color: #0c204e;
	font-size: 24px;
	padding: 15px 5px;
}

#dog_details_times
{
	color: #1d4c71;
	padding: 0px 5px;	
	font-size:18px;
	float: left;
}
.zones_list_item_desc
{
	position: relative;
	top:50px;
	width:90%;
	margin:0px 5%;
	text-align: center;	
	color: #ffffff;
	font-size: 16px;
	font-family: 'open_sansbold';
	text-transform: uppercase;
	text-decoration: none;
}
#zone_map_canvas, #vet_map_canvas
{
	width: 600px;
	height: 160px;
	position: relative;
	overflow: hidden;
	background-color: white;
}
.circle_empty{width: 20px;}
.circle_full{display:none;width: 20px;}
.album_arrow_text{
	background: #d4003d;
	color: white;
	text-transform: uppercase;
	text-align: center;
	line-height: 38px;
	width:174px;
	font-size: 12px;
	position:relative;
	float:left;
	cursor: pointer;
	top:20px;
	height:37px;
	font-family: 'open_sansbold';
}
.album_arrow{
	position:relative;
	float:left;
	top:20px;
}
#album_hl{
	font-size: 18px;
	color: #4b4b4b;
	font-family:'open_sansbold';
	margin-top: 5px;
	margin-bottom: -10px;
}
#my_albums{
	position: relative;
	height: 60px;
	width: 490px;
	background-color: #e6e6e7;
	color: #1d4c71;
	text-transform: uppercase;
	text-align: right;
	font-size: 35px;
	line-height: 60px;
	padding-right: 10px;
	top:148px;
}
#album_holder{
	position:relative;
	min-height:350px;
	overflow:hidden;
}

.album_item_outer{
	position:relative;
	width: 190px;
	height:315px;
	margin-top: 15px;
	margin-right: 15px;
	float:left;
	cursor:pointer;
}

.album_item{
	position:relative;
	width: 190px;
	max-height:315px;
	
	float:left;
	cursor:pointer;
}
.album_item_image{
	width:100%;
	vertical-align: middle;
}
.album_item_title{
	width: 100%;	
	position: absolute;
	top: 90px;
	color: #ffffff;
	font-size: 16px;
	text-align: center;
	letter-spacing:1px;
	text-transform:uppercase;
	font-family: 'open_sansbold';
	overflow:hidden;
}
.album_image_text_holder
{
	width:190px;
	height:60px;
	background:#d4003d;
	color:#ffffff;
	font-family: 'open_sanssemibold';
	font-size:9px;
	letter-spacing:1px;
	text-transform: uppercase;
	position: relative;
	cursor: default;
}

.lightbox_image_text_holder
{
	width:100%;
	height:60px;
	background:#d4003d;
	color:#ffffff;
	font-family: 'open_sanssemibold';
	font-size:9px;
	letter-spacing:1px;
	text-transform: uppercase;
	position: relative;
	cursor: default;
	
}

.lightbox_image_text
{
	position: absolute;
	top:4px;
	left:5px;
	width:80%;
	height:50px;
	line-height:11px;
	text-align:left;
	
}

.image_text
{
	position: absolute;
	top:5px;
	left:5px;
	width:130px;
	height:33px;
	overflow:hidden;
}

.image_share_holder
{
	position: absolute;
	right:5px;
	bottom: 5px;
	width:51px;
	height:12px;
}

.image_share_holder_top
{
	position: absolute;
	right:5px;
	top: 2px;
	width:46px;
	height:20px;
}

.lightbox_image_social_like_count
{
	position: absolute;
	right:5px;
	top: 32px;
	width:60px;
	height:20px;
	text-align:center;
}

.image_social_like_count
{
	position: absolute;
	right:5px;
	top: 25px;
	width:60px;
	height:20px;
	text-align:center;
}

.image_social_icon{
	cursor:pointer;
	width:20px;
	float:left;
	margin-right:3px;
}

.image_share_icon
{
  cursor:pointer;
  margin-left:2px;
}

.album_item_about{
	position:absolute;
	top:0px;
	left:0px;
	background-color: rgba(0,0,0,0.3);
	width: 96%;	
	padding:2%;
	color:#ffffff;
	font-size: 12px;
	height: 96%;
	overflow: hidden;
	text-align: left;
	letter-spacing:1px;
	font-family: 'open_sansitalic';
	display:none;
}
#add_photo_btn_text{
	background: #d4003d;
	color: white;
	text-transform: uppercase;
	text-align: right;
	line-height: 38px;
	padding-left: 5px;
	padding-right: 5px;
	font-size: 12px;
	position: relative;
	float: left;
	cursor: pointer;
	height:38px;
	font-family: 'open_sansbold';
	
}
#add_photo_btn{
	position: relative;
	top: 360px;
}
#add_photo_btn_arrow{
	float:left;
}
#pictures_holder{
	position: relative;
	  overflow: hidden;
}
#album_pictures_holder{
	overflow:hidden;
}
#back_to_albums{position:absolute;top:0px;}
#friends_holder{width: 600px;background: #ffffff;height: 650px;top: -700px;position: absolute;z-index:100;overflow-x: hidden;overflow-y: scroll;}
.friends_item, .friends_item_activity{
	position:relative;
	margin:5px;
	float:left;
	width:190px;
	height:220px;
	background: #d4003d;
	cursor:pointer;
	overflow:hidden;
}
.friends_list_item_image
{
	position: absolute;
	top:0px;
	left:0px;
	height: 100%;
	
}

.friends_list_item_desc
{
	position: absolute;
	top: 50px;
	height: 30px;
	line-height: 30px;
	width:100%;
	text-align: center;	
	color: #ffffff;
	font-family: 'open_sansbold';
	font-size: 16px;
	text-transform: uppercase;

}
#close_overlay{
	position:absolute;
	top:5px;
	right:10px;
	color:#d4003d;
	font-size:20px;
	font-family:'open_sansbold';
	
	cursor:pointer;
}
#guests_holder, #pending_holder{
	width:100%;
	min-height:230px;
}

#activity_holder{
	position: relative;

}
.activity_item{
	position:relative;
	width: 190px;
	height: 190px;
	margin-top: 10px;
	margin-right: 10px;
	display: inline-table;
	cursor:pointer;
	background: #ffffff;
	z-index: 1;
	text-decoration:none;
	text-align:center;
	
}
.activity_item_image{
	width:100%;
	max-height:200px;
}

.activity_item_name{
	margin-top:5px;
	font-family: 'open_sansbold';
	font-size: 16px;
}

.activity_item_time{
	font-family: 'open_sansbold';
	font-size: 16px;
	
}
.activity_item_about{
	background: #fff;
	padding: 5px;
	color:#707173;
	height: 60px;
	margin-left:85px;
	overflow: hidden;
}
.activity_item_date{
	font-family: 'open_sansbold';
	font-size: 16px;
	
}

.activity_item_place{
	font-family: 'open_sansbold';
	font-size: 16px;
}
.my_activities{
	position: relative;
	height: 60px;
	width: 490px;
	background-color: #e6e6e7;
	color: #1d4c71;
	text-transform: uppercase;
	text-align: right;
	font-size: 35px;
	line-height: 60px;
	padding-right: 10px;

}
#activity_info_holder{

}

.accept_activity, .decline_activity{
	width: 80px;
	height: 24px;
	line-height: 24px;
	font-size: 16px;
	text-align: center;
	position: absolute;
	bottom: 10px;
	left: 10px;
	background: #d4003d;
	color: #ffffff;
	cursor: pointer;
	z-index:1000;
	font-family: 'open_sansbold';
	text-transform:uppercase;
}

.decline_activity{
	left: 100px;
}

.accept_activity:hover, .decline_activity:hover
{
	background:#f6225f;
}


#suggest_zone_btn_text, #send_suggestion{
	background: #d4003d;
	color: white;
	text-transform: uppercase;
	text-align: center;
	line-height: 38px;
	padding-left: 5px;
	padding-right: 5px;
	font-size: 12px;
	position: relative;
	float: left;
	cursor: pointer;
	top: -10px;
	height:38px;
	font-family: 'open_sansbold';
}
#suggest_zone_btn{
	position: relative;
	top: 20px;
	left: 220px;
}
#suggest_zone_holder{
	background: #e6e6e7;
	width:445px;
	padding-bottom: 30px;
	margin: 10px auto;
	height: 140px;
}
#send_suggestion{
	width:210px;
	margin-top:10px;
}
#sidemenu_memberarea{
	z-index:0;
	position:absolute;
	display:block;
}
#closest_sitters_btn, #closest_vets_btn_text, #closest_vets_btn_search, #closest_sitters_btn_search, #closest_zone_btn_text, #closest_zone_btn_search, #profile_search_submit, #closest_places_btn_text, #closest_places_btn_search{
	background: #d4003d;
	color: white;
	text-transform: uppercase;
	text-align: center;
	line-height: 38px;
	padding-left: 5px;
	padding-right: 5px;
	font-size: 12px;	
	cursor: pointer;	
	height:38px;
	font-family: 'open_sansbold';
	width:180px;
	margin-top:15px;
	float:right;
	
}

#friend_search_input{
	width: 185px;
	border: 0px;
	font-size: 16px;
	height: 38px;
	padding-left: 5px;
	margin-right: 15px;
	margin-top: 22px;
	color: #4d4d4d;
	float: left;	
}


#closest_vets_name_search, #closest_sitters_name_search, #friend_search_button, #closest_zone_name_search, #closest_places_name_search
{
	background: #d4003d;
	color: white;
	text-transform: uppercase;
	text-align: center;
	line-height: 38px;
	padding-left: 5px;
	padding-right: 5px;
	font-size: 12px;	
	cursor: pointer;	
	height:38px;
	font-family: 'open_sansbold';
	width:180px;
	margin-top:15px;
	float:left;
}


#vet_location_input, #sitter_location_input, #zone_location_input, #dog_breed_select, #dog_edit_breed_select, #place_location_input
{
	width: 185px;
	color:#4d4d4d;
	border: 0px;
	margin-bottom: 5px;
	font-size: 16px;
	height: 38px;
	line-height: 38px;
	padding-left: 5px;
	margin-top: 15px;
	float:left;
	-webkit-border-radius: 0px;-moz-border-radius: 0px;border-radius: 0px;
}


.suggest_input
{
	margin:0px;
	padding:0px;
	width: 215px;
	color:#4d4d4d;
	border: 0px;
	margin-bottom: 5px;
	font-size: 16px;
	height: 38px;
	line-height: 38px;
	padding-left: 5px;
	font-family: 'open_sansregular';
	margin-right:5px;
	float:left;
}




#closest_zones{
	position: relative;
	top: 10px;
	left: 110px;
	
}
#closest_sitters{
	position: relative;
	top: -30px;
	left: 354px;
	cursor: pointer;
}
#closest_vets{
	position: relative;
	top: -30px;
	left: 354px;
	cursor: pointer;
}
.nearby_list_item
{
	position: relative;
	float:left;
	width: 190px;
	height:220px;
	background-color: #d4003d;
	margin-top:15px;
	margin-right:15px;
	overflow: hidden; 
}

.breeds_list_item
{
	position: relative;
	float:left;
	width: 190px;
	height:220px;
	background-color: #d4003d;
	margin-top:15px;
	margin-right:15px;
	overflow: hidden; 
}


.zone_search_item
{
	position: relative;
	float:left;
	width: 190px;
	height:220px;
	background-color: #d4003d;
	margin-top:15px;
	margin-right:15px;
	overflow: hidden; 
	cursor:pointer;
}

#invite_send_mail_button{width:172px;height:37px;line-height:37px;font-size:13px;text-align:center;margin: 16px 0px 0px 10px;color:#ffffff;background:#d4003d;cursor:pointer;letter-spacing:2px;font-family:'open_sansbold';text-transform:uppercase;float:left;}
#vet_search_submit{width: 80px;height: 38px;line-height: 38px;font-size: 12px;text-align: center;color: #ffffff;background: #d4003d;position: relative;top: -43px;left: 260px;margin-bottom: -30px;cursor: pointer;text-transform:uppercase;font-family: 'open_sansbold';}
#dog_detail_add_friend{}
#dog_detail_add_enemy{}
.corner_right_img{position: absolute;right: 0px;top: -12px;}
.overview_add_img{position: absolute;left: 10px;top: 3px;}
.overview_add_btn_text{margin-left:10px;}
.overview_header{height:30px;width:300px;background:#005279;color:#ffffff; font-size:12px;line-height:30px;padding-left:10px;text-align: left;font-family: 'open_sansbold';text-transform: uppercase}
#dog_overview_friend_holder{}
.dog_overview_friend_header{height:25px;width:150px;padding-left:10px;padding-right:20px;text-align:left;text-transform: uppercase;color:#ffffff;line-height:25px;font-family: 'open_sansbold';position:relative;}
.overview_right{width: 180px;}
.overview_see_more{width:55px;height:25px;text-align:center;font-size:8px;color:#ffffff;text-transform: uppercase;line-height: 25px;background:#005279;cursor:pointer;float:right;}
.overview_friend_icon{margin-top:4px;float:right;width:10px;margin-right:10px;}
.overview_line{background:#7d7d7d;height:1px;border:none;width:280px;margin:10px 0px 10px 20px;}
.relative_parent{position:relative;}
#cover_hover_holder{position:absolute;left:200px;top:200px;display:none;cursor:pointer;}
#cover_hover_background{position:absolute;top:0px;left:0px;height:50px;line-height:50px;width:600px;background:#ffffff;z-index:10;-moz-opacity: 0.70;-khtml-opacity: 0.70;opacity: 0.70;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=70);filter: progid:DXImageTransform.Microsoft.Alpha(opacity=70);filter:alpha(opacity=70);}
#cover_hover_text{font-size:11px;color:#4b4b4b;position:absolute;left:10px;top:18px;z-index:20;   font-family: 'open_sanssemibold_italic';width:300px;}

#profile_hover_holder{position:absolute;left:0px;bottom: 50px;display:none;cursor:pointer;}
#profile_hover_background{position:absolute;top:0px;left:0px;height:50px;line-height:50px;width:190px;background:#ffffff;z-index:10;-moz-opacity: 0.70;-khtml-opacity: 0.70;opacity: 0.70;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=70);filter: progid:DXImageTransform.Microsoft.Alpha(opacity=70);filter:alpha(opacity=70);}
#profile_hover_text{font-size:10px;color:#4b4b4b;position:absolute;left:0px;top:18px;z-index:20;   font-family: 'open_sanssemibold_italic';width:190px;}
.white_icon{display:none;}
#add_album_btn{margin-bottom:10px;}
#territory_icon_holder{position: relative;top: 20px;width: 500px;}
.territory_item{width:100px;text-align: left;font-size:10px;color:#4b4b4b;font-family: 'open_sanssemibold';float:left;margin-left:28px;margin-bottom:5px;text-transform: uppercase;}
.territory_item:hover{color:#d3003d;}
.button_skin{background: #d4003d;color: white;text-transform: uppercase;text-align: center;line-height: 37px;font-size: 15px;cursor: pointer;height:37px;font-family: 'open_sansbold';width:172px;margin-top:10px;letter-spacing:2px;}
#add_album_form{display:none;margin-top: 45px;width:100%;min-height:130px;position: relative;}
#add_album_btn{position:absolute;}
.photo_title_input{margin:0px;border:0px;border: 0px;height: 30px;width: 178px;padding: 0px 6px;}
.title_editor_hover_text{font-size: 12px;color: #ffffff;position: absolute;left: 0px;top: 50px;height:38px;z-index: 20;font-family: 'open_sansbold';line-height:38px;width: 190px;text-transform: uppercase;text-align:center;background:#d4003d;}
.title_editor_hover_background{position: absolute;bottom: 3px;left: 0px;height: 40px;width: 190px;background: #d4003d;z-index: 10;-moz-opacity: 0.70;-khtml-opacity: 0.70;opacity: 0.70;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha"(Opacity=70);filter: progid:DXImageTransform.Microsoft.Alpha(opacity=70);filter: alpha(opacity=70);}
.delete_editor{display: none;position: absolute;bottom: 0px;background:#ffffff;width: 100%;z-index:1000}

.album_item_image_holder{width: 100%;height: 100%;overflow: hidden;height:190px;}




#pending_activity_holder{position:relative;}
#joined_activities{position:relative;}
#activities_holder_main{position:relative;top:10px;}

#lost_detail_header_overlay{position: relative;left: 0px;top: 0px;height: 84px;width: 735px;background:#d4003d;margin-left: 0px;line-height: 84px;text-align: center;color: #ffffff;font-size: 80px;padding-left:10px;z-index:200;font-family: 'open_sansbold';text-transform: uppercase;letter-spacing: 2px;}
#lost_detail_header
{position:relative;z-index:2;}
#lost_details{position:relative;z-index:0;}
#lost_detail_header_cover{width: 745px;position: relative;background-color: white;z-index:10;overflow: hidden;}
#print_button{position: relative;text-align: center;line-height: 38px;padding-left: 5px;padding-right: 5px;font-size: 12px;left:195px;top: 10px;width:100px;float: left;cursor: pointer;color: #ffffff;background-color: #d4003d;text-transform: uppercase;font-family: 'open_sansbold';}

.advert_img_holder{position:relative;width:200px;max-height: 200px;}

/* TAGGING */
#tag_holder{display:none;position:absolute;left:20px;top:100px;width:420px;background:#ffffff;z-index:20000;}
#comment_holder{display:none;position:fixed;left:20px;top:100px;width:420px;background:#ffffff;z-index:20000; }
#tag_holder_top{height:60px;position:relative;top:0px;left:0px;margin-left:10px;width:400px;text-align:center;color:#d4003d;font-size:14px;font-family:'open_sanssemibold';}
#tag_holder_bottom{position:relative;width:294px;padding-bottom:10px;margin-left:63px;margin-top:6px;border-top:1px solid #d4003d;}
#add_comment_holder{position:relative;width:90%;margin:5px 5%;}
#comment_photo_input{width:100%;resize:none;height:50px;padding:0px;margin:0px;}



#tag_search_input{width:290px;height:34px;line-height:34px;color:#656364;font-family: 'open_sanslight';}
.tag_friend_item{position:relative;width:250px;height:50px;background:#ffffff;margin:5px 0px;cursor:pointer;line-height:50px;color:#656364;border-bottom:1px solid #c8c8c8;padding:5px 20px;}
.tag_friend_img_holder{position:absolute;left:0px;top:0px;width:50px;height:50px;overflow: hidden;-webkit-border-radius: 25px;-moz-border-radius: 25px;border-radius: 25px;}
.tag_friend_name{position:absolute;left:60px;line-height: 50px;color:#656364;font-size:14px;font-family: 'open_sansbold';}
.tag_item_image{width:150%;position:absolute;left:-20%;}

.title_editor{display: none;position: absolute;bottom: 0px;z-index: 300;}
.title_hover{position:absolute;left:5px;top:5px;width:25px;cursor:pointer;}
.showTag{position:absolute;bottom:-20px;left:0px;width:25px;cursor: pointer;}
.remove_image{position:absolute;top:5px;left:35px;width:25px;cursor: pointer;}
.like_image{position:absolute;top:5px;right:5px;width:25px;cursor: pointer;}
.comment_image{position:absolute;top:5px;right:35px;width:25px;cursor: pointer;}

#profile_delete_holder{position:relative;left:0px;top:40px;width:190px;}
#profile_delete{cursor:pointer;position:absolute;left:0px;top:0px;}
#profile_delete_confirm{position:absolute;left:0px;top:30px;width:140px;display:none;}
#profile_delete_yes, #profile_delete_no{float:left;margin-right:20px;margin-top:20px;cursor:pointer;}
#featured_vets_holder{margin-top: 20px;height: 225px;}
.div_white_over{position:Absolute;top:0px;left:0px;background: #000000;width:100%;height:100%;-moz-opacity: 0.15;
-khtml-opacity: 0.15;
opacity: 0.15;
-ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=15);
filter: progid:DXImageTransform.Microsoft.Alpha(opacity=15);
filter:alpha(opacity=15);}
.featured_text{color:#ffffff;position: absolute;left:0px;top:50px;width:100%;text-align:center;text-transform: uppercase;font-size:15px;font-family: 'open_sansbold';letter-spacing: 1px;}
.featured_text_sitter{color:#ffffff;position: absolute;left:0px;top:0px;width:100%;text-align:center;text-transform: uppercase;font-size:12px;font-family: 'open_sansbold';letter-spacing: 1px;}
.statics_subheader{width:100%;min-height:70px;line-height: 70px;text-align:center;text-transform: uppercase;font-size:18px;font-family: 'open_sansbold';letter-spacing: 2px;color:#ffffff;background:#d4003d;}
#vets_nearby_holder{margin-top:10px;}
#vets_search_holder{min-height:500px;}
#vet_search_result{width:390px;margin:0px auto; border-top: 1px solid #d4003d;}
.vet_search_item{position:relative;width:330px;height:30px;padding:5px 30px;background:#ffffff;border-bottom: 1px solid #b4b4b4;}
.vets_search_item_name{color:#b4b4b4;font-family: 'open_sansbold';position:absolute;font-size:14px;text-transform: uppercase;}
.vets_search_item_location{color:#b4b4b4;font-family: 'open_sansitalic';position:absolute;top:20px;font-size:12px;}
#edit_error_message{color:#d4003d;}
#edit_activity_button
{
	position: absolute;
	right: 220px;
	height: 70px;
	line-height: 70px;
	text-transform: uppercase;
	font-size: 15px;
	font-family: 'open_sansbold';
	letter-spacing: 2px;
	color: #ffffff;
	margin-left: 20px;
}
#activity_info_holder{width:100%;overflow:hidden;}
.activityAbout{float:left;font-size:20px;font-family: 'open_sansbold';color:#b4b4b4;text-transform: uppercase;}
.activityDate{float:right;width:180px;text-align:left;font-size:20px;font-family: 'open_sansbold';color:#b4b4b4;text-transform: uppercase;}
.activity_date_holder{float:right;width:180px;text-align:left;font-size:13px;font-family: 'open_sansitalic';}
.activity_description_holder{width:380px;text-align:left;font-size:13px;font-family: 'open_sansitalic';}
#edit_user_dogsitter_btn
{
	position: absolute;
	text-align: center;
	line-height: 38px;
	font-size: 12px;
	left: 267px;
	top: 15px;
	float: left;
	cursor: pointer;
	color: #ffffff;
	width: 250px;
	background-color: #d4003d;
	text-transform: uppercase;
	font-family: 'open_sansbold';
}

#to_booking_btn
{
	position: relative;
	text-align: center;
	line-height: 38px;
	font-size: 12px;
	left: 0px;
	top: 15px;
	float: left;
	cursor: pointer;
	color: #ffffff;
	width: 190px;
	background-color: #d4003d;
	text-transform: uppercase;
	font-family: 'open_sansbold';
}

.sitter_controls_button
{
	width:100px;
	height:20px;
	line-height:20px;
	color:#ffffff;
	text-align:center;
	background:#d4003d;
	text-transform:uppercase;
	float:left;
	margin-right:5px;
	font-size:10px;
	letter-spacing:1px;
	text-decoration:none;
	margin-bottom:5px;
}

.tag_overlay_close
{
	position:absolute;
	top:0px;
	right:0px;
	width:30px;
	height:35px;
	line-height:35px;
	color:#ffffff;
	font-size:16px;
	text-align:center;
	font-family: 'open_sanssemibold';
	cursor:pointer;
	z-index:100;
}
.tag_overlay_head
{
	position:relative;z-index:1;line-height:35px;height:35px;width:100%;text-align:center;background:#d4003d;color:#ffffff;font-family:'open_sansbold'
}
#already_tagged_holder
{
	width:100%;
	text-align:center;
	text-transform:uppercase;
	overflow:hidden;
	margin-bottom:5px;
}
#already_tagged_friends
{
	position:relative;
	top:0px;
	left:0px;
	margin-left:10px;
	width:400px;
	
}


.already_tagged_item
{
	text-decoration:none;margin-right:5px;float:left;color:#639564;margin-bottom:5px;
	
}

.tag_item_name
{
	float:left;
	margin-right:10px;
	height: 12px;
	line-height: 12px;
}

.already_tagged_dot
{
	float:left;
	margin-right:5px;
}

#login_error_message
{
	color:#d4003d;
	font-size:12px;
	font-family: 'open_sansregular';
	text-align:center;
}


#delete_album_confirm_holder
{
	width:210px;
	position:absolute;
	right:0px;top:18px;
	display:none;
}

#image_cropping_overlay
{
	position:absolute;
	top:35px;
	z-index:10000;
	width:1024px;
	min-height:800px;
	background:#ffffff;
	display:none;
}
#image_crop_holder
{
	position:relative;
	width:100%;
	min-height:630px;
	
}

#submit_zone_description
{
  width:392px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  font-family: 'open_sansbold';
  letter-spacing: 2px;
  color: #ffffff;
  background: #d4003d;
  margin:0px auto;
  cursor:pointer;
}
.image_like_holder{position:absolute;z-index:100;}
.comment_photo_item{position:relative;width:90%;margin:5px 5%;}
#user_comments{width:90%;position:relative;margin:5px 5%; overflow-y: scroll;max-height: 400px;}
.comment_user{float:left;width:50%;text-align:left;}
.stop-scrolling {
  height: 100%;
  overflow: hidden;
}
.comment_date{float:right;width:50%;text-align:right}
.delete_comment_btn{position:absolute;right:-15px;top:0px;color:#d4003d;cursor:pointer;}