@CHARSET "ISO-8859-1";

		

.terms_h1
{
	position: relative;
	text-align: left;
	font-size: 18px;
	font-family: 'open_sansbold';
	margin: 8px 0px;
}

.terms_h2
{
	position: relative;
	text-align: left;
	font-size: 14px;
	font-weight: bold;
	margin-top: 5px;
}

.terms_text
{
	position: relative;
	text-align: left;
	font-size: 14px;
	font-family: 'open_sansregular';
}

.terms_text li
{
	margin-bottom: 5px;
}