.ajax-file-upload-statusbar {
border: 1px solid #005279;
margin-top: 10px;
display:none;
padding: 5px 5px 5px 5px;
position: relative;
top: 160px;
}
.ajax-file-upload-filename {
width: 100%;
height: auto;
margin: 0 5px 5px 10px;
color: #807579
}
.ajax-file-upload-progress {
margin: 0 10px 5px 10px;
position: relative;
width: 250px;
border: 1px solid #ddd;
padding: 1px;
border-radius: 3px;
display: inline-block
}
.ajax-file-upload-bar {
background-color: #005279;
width: 0;
height: 20px;
border-radius: 3px;
color:#FFFFFF;
}
.ajax-file-upload-percent {
position: absolute;
display: inline-block;
top: 3px;
left: 48%
}
.ajax-file-upload-red {
-moz-box-shadow: inset 0 39px 0 -24px #e67a73;
-webkit-box-shadow: inset 0 39px 0 -24px #e67a73;
box-shadow: inset 0 39px 0 -24px #e67a73;
background-color: #e4685d;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
border-radius: 4px;
display: inline-block;
color: #fff;
font-family: arial;
font-size: 13px;
font-weight: normal;
padding: 4px 15px;
text-decoration: none;
text-shadow: 0 1px 0 #b23e35;
cursor: pointer;
vertical-align: top;
margin-right:5px;
}
.ajax-file-upload-green {
background-color: #77b55a;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
border-radius: 4px;
margin: 0;
padding: 0;
display: inline-block;
color: #fff;
font-family: arial;
font-size: 13px;
font-weight: normal;
padding: 4px 15px;
text-decoration: none;
cursor: pointer;
text-shadow: 0 1px 0 #5b8a3c;
vertical-align: top;
margin-right:5px;
}
.ajax-file-upload {
	font-family: 'dosissemibold';
	font-size:17px;
	text-align:center;
	width:auto;
	float:left;
	background:#000000;
	color:#ffffff;
	padding:15px 20px;
	display:inline;
	margin:20px 0px;
	cursor:pointer;
  }
  
.ajax-file-upload:hover {
      background: #000;
}

.ajax-upload-dragdrop
{
    border:1px solid #d4003d;
    color: #d4003d;
    text-align:left;
    vertical-align:middle;
    padding:10px 10px 0px 10px;
    width: 600px;
	position: relative;
	top: 15px;
	height:50px;
}

.ajax-upload-dragdrop.state-hover
{
    border: 2px solid #A5A5C7;
}
.ajax-file-upload-error {
    color: red;
    position: relative;
	top: 165px;
}
#dragdrop{
	margin-left: 20px;
	line-height: 40px;
	font-size: 14px;
	color:#d4003d;
	font-family: 'open_sansbold';
	text-transform: uppercase;
	letter-spacing: 1px;
}