@font-face {
    font-family: 'HelveticaLight';
    src: url('../css/Fonts/helveticalight-webfont.eot');
    src: url('../css/Fonts/helveticalight-webfont.eot?#iefix') format('eot'),
         url('../css/Fonts/helveticalight-webfont.woff') format('woff'),
         url('../css/Fonts/helveticalight-webfont.ttf') format('truetype'),
         url('../css/Fonts/helveticalight-webfont.svg#webfontmAXNl3ys') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansbold';
    src: url('fonts/opensans-bold.eot');
    src: url('fonts/opensans-bold.eot?#iefix') format('embedded-opentype'),
         url('fonts/opensans-bold.woff') format('woff'),
         url('fonts/opensans-bold.ttf') format('truetype'),
         url('fonts/opensans-bold.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

body{
	font-family: Helvetica;
	font-size:12px;
	border:0;
	padding:0;
	margin:0;
	
	background:#fff;
}

#wrapper{
	top:50px;
	left:0px;
	position:absolute;
	z-index:6;
	width:100%;
}	

#content{
	top:0px;
	left:0px;

	position:absolute;
	z-index:100;
}

#menuButton
{
	width:120px;margin:5px auto;color:#000;font-size: 30px;text-transform: uppercase; font-family: 'open_sansbold';
}

.menuitem
{
	width:190px;height:190px;color:#ffffff;background:#d4003d; float:left;margin-right:10px;margin-top:10px;cursor:pointer;font-size: 20px;text-align:center; font-family: 'open_sansbold';text-transform:uppercase;
}
#menu{
	
	width:1010px;
	overflow:hidden;
	margin:30px auto 0px auto;
	
}

#menu p{
	float:left;
	font-size:16px;
	margin-left:20px;
	margin-top:10px;
	height:20px;
	color:#CCCCC;
	padding:0;
	text-decoration:none;
	cursor:pointer;
	position: relative;
	top: 5px;
}

#menu p:hover{
	color:#626262;
}


#menutop{
	position:absolute;
	top:0px;
	height:50px;
	
	z-index:888;
	
}

#opener{
	position:absolute;
	bottom:-6px;
	cursor:pointer;
	z-index:1000;
	top:46px;
	left:0px;
	height:8px;
}

#users{
	
	width:1010px;
	margin:30px auto 0px auto;
	
}

