@font-face {
    font-family: 'open_sansbold';
    src: url('fonts/opensans-bold.eot');
    src: url('fonts/opensans-bold.eot?#iefix') format('embedded-opentype'),
         url('fonts/opensans-bold.woff') format('woff'),
         url('fonts/opensans-bold.ttf') format('truetype'),
         url('fonts/opensans-bold.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;

}
#menuButton
{
	width:120px;margin:5px auto;color:#000;font-size: 30px;text-transform: uppercase; font-family: 'open_sansbold';
}
.image_floater{float:left;margin:3px;width:150px;height:200px;margin-bottom: 3px;}
.overwatch_img{width:150px;cursor:pointer;}
#delete_editor {
  display: none;
  position: absolute;
  bottom: 0px;
  background: #ffffff;
  width: 200px;
  z-index: 1000;
  height:76px;
}
.button_skin {
  background: #d4003d;
  color: white;
  text-transform: uppercase;
  text-align: center;
  line-height: 37px;
  font-size: 15px;
  cursor: pointer;
  height: 37px;
  font-family: 'open_sansbold';
  width: 172px;
  margin-top: 10px;
  letter-spacing: 2px;
}

.comment_overwatch_item
{
	background: #d4003d;
	color:#ffffff;
	font-family: 'open_sansbold';
	font-size: 12px;
	width:250px;
	padding:10px;
	margin:5px;
	cursor:pointer;
	float:left; 
}

#comment_edit_holder
{
	position:absolute;
	left:0px;
	top:0px;
	width:400px;
	height:400px;
	background: #ffffff;
	z-index:1000;
	display:none;
}
#edited_text
{
	width:380px;
	height:300px;
	margin:10px;
	resize:none;
}
.text_red
{
	color: #d4003d;
	font-family: 'open_sansbold';
	font-size: 15px;
	margin:5px;
	text-align:center;
}
#close_edit
{
	color: #d4003d;
	font-family: 'open_sansbold';
	font-size: 15px;
	position:absolute;
	top:5px;
	right:5px;
	cursor:pointer;
	
}



.group_request_item
{
	width:300px;
	border:1px solid #000;
	color:#000000;
	float:left;
	margin-right:10px;
	margin-bottom:10px;
	text-align:center;
	overflow:hidden;
}


.button
{
	cursor:pointer;
	float:left;
	width:145px;
	margin-right:10px;
	text-align:center;
	line-height:20px;
	height:20px;
}


.group_description
{
	text-align:left;
}
