@font-face {
    font-family: 'titillium_weblight';
    src: url('fonts/titilliumweb-light-webfont.eot');
    src: url('fonts/titilliumweb-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/titilliumweb-light-webfont.woff2') format('woff2'),
         url('fonts/titilliumweb-light-webfont.woff') format('woff'),
         url('fonts/titilliumweb-light-webfont.ttf') format('truetype'),
         url('fonts/titilliumweb-light-webfont.svg#titillium_weblight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'playbold';
    src: url('fonts/play-bold-webfont.eot');
    src: url('fonts/play-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/play-bold-webfont.woff2') format('woff2'),
         url('fonts/play-bold-webfont.woff') format('woff'),
         url('fonts/play-bold-webfont.ttf') format('truetype'),
         url('fonts/play-bold-webfont.svg#playbold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'playregular';
    src: url('fonts/play-regular-webfont.eot');
    src: url('fonts/play-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/play-regular-webfont.woff2') format('woff2'),
         url('fonts/play-regular-webfont.woff') format('woff'),
         url('fonts/play-regular-webfont.ttf') format('truetype'),
         url('fonts/play-regular-webfont.svg#playregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'dosisextrabold';
    src: url('fonts/dosis-extrabold-webfont.eot');
    src: url('fonts/dosis-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/dosis-extrabold-webfont.woff2') format('woff2'),
         url('fonts/dosis-extrabold-webfont.woff') format('woff'),
         url('fonts/dosis-extrabold-webfont.ttf') format('truetype'),
         url('fonts/dosis-extrabold-webfont.svg#dosisextrabold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'dosisregular';
    src: url('fonts/dosis-regular-webfont.eot');
    src: url('fonts/dosis-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/dosis-regular-webfont.woff2') format('woff2'),
         url('fonts/dosis-regular-webfont.woff') format('woff'),
         url('fonts/dosis-regular-webfont.ttf') format('truetype'),
         url('fonts/dosis-regular-webfont.svg#dosisregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'dosismedium';
    src: url('fonts/dosis-medium-webfont.eot');
    src: url('fonts/dosis-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/dosis-medium-webfont.woff2') format('woff2'),
         url('fonts/dosis-medium-webfont.woff') format('woff'),
         url('fonts/dosis-medium-webfont.ttf') format('truetype'),
         url('fonts/dosis-medium-webfont.svg#dosismedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'dosisbold';
    src: url('fonts/dosis-bold-webfont.eot');
    src: url('fonts/dosis-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/dosis-bold-webfont.woff2') format('woff2'),
         url('fonts/dosis-bold-webfont.woff') format('woff'),
         url('fonts/dosis-bold-webfont.ttf') format('truetype'),
         url('fonts/dosis-bold-webfont.svg#dosisbold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'dosisextralight';
    src: url('fonts/dosis-extralight-webfont.eot');
    src: url('fonts/dosis-extralight-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/dosis-extralight-webfont.woff2') format('woff2'),
         url('fonts/dosis-extralight-webfont.woff') format('woff'),
         url('fonts/dosis-extralight-webfont.ttf') format('truetype'),
         url('fonts/dosis-extralight-webfont.svg#dosisextralight') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'dosislight';
    src: url('fonts/dosis-light-webfont.eot');
    src: url('fonts/dosis-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/dosis-light-webfont.woff2') format('woff2'),
         url('fonts/dosis-light-webfont.woff') format('woff'),
         url('fonts/dosis-light-webfont.ttf') format('truetype'),
         url('fonts/dosis-light-webfont.svg#dosislight') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'dosissemibold';
    src: url('fonts/dosis-semibold-webfont.eot');
    src: url('fonts/dosis-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/dosis-semibold-webfont.woff2') format('woff2'),
         url('fonts/dosis-semibold-webfont.woff') format('woff'),
         url('fonts/dosis-semibold-webfont.ttf') format('truetype'),
         url('fonts/dosis-semibold-webfont.svg#dosissemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'titillium_webbold_italic';
    src: url('fonts/titilliumweb-bolditalic-webfont.eot');
    src: url('fonts/titilliumweb-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/titilliumweb-bolditalic-webfont.woff2') format('woff2'),
         url('fonts/titilliumweb-bolditalic-webfont.woff') format('woff'),
         url('fonts/titilliumweb-bolditalic-webfont.ttf') format('truetype'),
         url('fonts/titilliumweb-bolditalic-webfont.svg#titillium_webbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'titillium_webitalic';
    src: url('fonts/titilliumweb-italic-webfont.eot');
    src: url('fonts/titilliumweb-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/titilliumweb-italic-webfont.woff2') format('woff2'),
         url('fonts/titilliumweb-italic-webfont.woff') format('woff'),
         url('fonts/titilliumweb-italic-webfont.ttf') format('truetype'),
         url('fonts/titilliumweb-italic-webfont.svg#titillium_webitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'titillium_weblight_italic';
    src: url('fonts/titilliumweb-lightitalic-webfont.eot');
    src: url('fonts/titilliumweb-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/titilliumweb-lightitalic-webfont.woff2') format('woff2'),
         url('fonts/titilliumweb-lightitalic-webfont.woff') format('woff'),
         url('fonts/titilliumweb-lightitalic-webfont.ttf') format('truetype'),
         url('fonts/titilliumweb-lightitalic-webfont.svg#titillium_weblight_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'titillium_websemibold_italic';
    src: url('fonts/titilliumweb-semibolditalic-webfont.eot');
    src: url('fonts/titilliumweb-semibolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/titilliumweb-semibolditalic-webfont.woff2') format('woff2'),
         url('fonts/titilliumweb-semibolditalic-webfont.woff') format('woff'),
         url('fonts/titilliumweb-semibolditalic-webfont.ttf') format('truetype'),
         url('fonts/titilliumweb-semibolditalic-webfont.svg#titillium_websemibold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'nfs_fontregular';
    src: url('fonts/nfs_by_jltv-webfont.eot');
    src: url('fonts/nfs_by_jltv-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/nfs_by_jltv-webfont.woff2') format('woff2'),
         url('fonts/nfs_by_jltv-webfont.woff') format('woff'),
         url('fonts/nfs_by_jltv-webfont.ttf') format('truetype'),
         url('fonts/nfs_by_jltv-webfont.svg#nfs_fontregular') format('svg');
    font-weight: normal;
    font-style: normal;

}



@font-face {
    font-family: 'm_1mmedium';
    src: url('fonts/mplus-1m-medium-webfont.eot');
    src: url('fonts/mplus-1m-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/mplus-1m-medium-webfont.woff2') format('woff2'),
         url('fonts/mplus-1m-medium-webfont.woff') format('woff'),
         url('fonts/mplus-1m-medium-webfont.ttf') format('truetype'),
         url('fonts/mplus-1m-medium-webfont.svg#m_1mmedium') format('svg');
    font-weight: normal;
    font-style: normal;

}



@font-face {
    font-family: 'hk_groteskbold';
    src: url('fonts/hkgrotesk-bold-webfont.eot');
    src: url('fonts/hkgrotesk-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/hkgrotesk-bold-webfont.woff2') format('woff2'),
         url('fonts/hkgrotesk-bold-webfont.woff') format('woff'),
         url('fonts/hkgrotesk-bold-webfont.ttf') format('truetype'),
         url('fonts/hkgrotesk-bold-webfont.svg#hk_groteskbold') format('svg');
    font-weight: normal;
    font-style: normal;

}